body {
    background-color: rgb(15 16 20) !important;
    margin: -2em 0 0 0em !important;
    padding-bottom: 800px !important; 
    height: fit-content;
    
}
.page-header, .page-title {
    color: #a08fbc;
}

.pagenum_button {
    color: white;
    background-color: #9862b0;
    border:none !important;
}
#currentpage_btn {
    color:white !important;
    border:none !important;
    background-color: #6827a9 !important;
    /* #dd8092 */
}
.pagenum_button:hover {
    color: white !important;
    background-color: #a37fc6;
}
.pagenum_button:focus, .pagenum_button:active {
    outline: none !important;
    box-shadow: none !important;
 }
 #currentpage_btn:focus, #currentpage_btn:active {
    outline: none !important;
    box-shadow: none !important;
 }
 .prev-btns {
    color:#ad8db9c4;
    margin-top: 0.1em;
    transform: scale(0.7);

}
.next-btns {
    color: #ad8db9c4; 
    margin-top: 0.1em;
    transform: scale(0.7);

}
.prev-btns:hover {
    color: #e6b8f7c4;
}
.next-btns:hover{
    color: #e6b8f7c4;
}

#account-title {
    font-family: 'Bungee Spice', cursive;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    color: white;
}
.search_text {
    color: #8e8787;
}
.releasesTitle {
    color: #e5d6ff ;
}
#schedreleasesArrowsDiv {
    color: white;
}
#unreleasedArrowsDiv {
    color: white;
}
#currentreleasesArrowsDiv {
    color: white;
}
.tagChartWrapper {
    background: #22212bb5; 
}
.langChartWrapper {
    background: #22212bb5; 
}
.chart-container {
    background: #22212bb5; 
}
.page_dots{
    color: white;
}
#currentreleasesMoreLeft, #currentreleasesMoreRight, 
#unreleasedMoreRight, #unreleasedMoreLeft, #schedreleasesMoreLeft,
#schedreleasesMoreRight {
    color: #b993dc;
}
#releases-containerA, #releases-containerB, #releases-containerC {
    background-color: #9d94a1a1;

}
.name, .ep-tracker {
    color: aliceblue;
}