{%extends "base.html" %}
{%block header%}
 <h1>{%block title%}Account{%endblock%}</h1>
 {%endblock%}
{%block body %}
<div class = "page-title">
    <h2> Account Details </h2>
</div>
<br>
<form method="POST" id="accountForm">
    <div class="change_profile">
        <img class = "change_profile_pic" src={{user.profile_pic}} alt="cute profile pic">
        <br><br><br>
        <div class="mb-3">
            <label for="update_profile_pic" id="signup-text" class="form-label">Change Profile Picture</label>
            <input type="password" class="form-control" autocomplete="off" id="signup-input"  placeholder="image source (https://...jpg, .png, etc.)" name = "update_profile_pic">
        </div>        
        </div>
    <div class="mb-3">
        <label for="update_email" id="signup-text" class="form-label">Update Email</label>
        <input type="password" class="form-control" autocomplete="off" id="signup-input"  name = "update_email">
    </div>
    <div class="mb-3">
        <label for="update_name" id="signup-text" class="form-label">Change Name</label>
        <input type="password" class="form-control" autocomplete="off" id="signup-input" placeholder="{{user.name}}" name = "update_name">
    </div>
    <div class="mb-3">
        <label for="update_password" id="signup-text" class="form-label">Change Password</label>
        <input type="password" class="form-control" autocomplete="off" id="signup-input"  placeholder="new password" name = "update_password">
    </div>
    <div class="mb-3">
        <label for="update_password_confirm" id="signup-text" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" autocomplete="off" id="signup-input" placeholder="confirm new password" name = "update_password_confirm">
    </div>
    <button type="submit" id= "add_media_button" class="btn btn-primary">Update</button>
</form>
{%endblock%}