{%extends "base.html" %}
{%block header%}
 <h1>{%block title%}Account{%endblock%}</h1>
 {%endblock%}
{%block body %}
<div class="check_acc_delete"> 
    <h4 class = "delete_text"> Are you sure you'd like to delete your account? </h4>
    <br>
    <h5>This will permanently delete all of your account data. This action cannot be reversed. </h5>
    <br>
    <form action="{{url_for('delete_account')}}" method="POST"><button type="submit" id="confirm_acc_delete" class="btn btn-info">Yes, delete my account</button></form>
    <button id="cancel_delete" class="btn btn-secondary" type="button">No, go back</button>
</div>

<br>
<form method="POST" id="accountForm" action="">
   <div class = "page-title">
        <h2> Account Details </h2>
    </div> 
    <div class="change_profile">
        <img class = "change_profile_pic" src={{user.profile_pic}} alt="profile pic">
        <br><br><br>
        <div class="mb-3">
            <label for="update_profile_pic" id="signup-text" class="form-label"> Change Profile Picture</label>
            <input type="text" class="form-control" autocomplete="off" id="account-input"  placeholder="image source (https://...jpg, .png, etc.)" name = "update_profile_pic">
        </div>        
    </div>
    <div class="mb-3">
        <label for="update_email" id="signup-text" class="form-label">Update Email</label>
        <input type="email" class="form-control" autocomplete="off" id="account-input"  name = "update_email">
    </div>
    <div class="mb-3">
        <label for="update_name" id="signup-text" class="form-label">Change Name</label>
        <input type="text" class="form-control" autocomplete="off" id="account-input" placeholder="{{user.name}}" name = "update_name">
    </div>
    <div class="mb-3">
        <label for="update_password" id="signup-text" class="form-label">Change Password</label>
        <input type="password" class="form-control" autocomplete="off" id="account-input"  placeholder="new password" minlength="8" maxlength="20" name = "update_password">
    </div>
    <div class="mb-3">
        <label for="update_password_confirm" id="signup-text" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" autocomplete="off" id="account-input" placeholder="confirm new password" minlength="8" maxlength="20" name = "update_password_confirm">
    </div>
    <button type="submit" id="del_acc_button" class="btn btn-primary">Update</button>
    <br>
    <br>
    <button type="button" id="delete_acc_button" aria-label="delete" class="btn btn-danger">Delete Account</button>
</form>
{%endblock%}