<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&display=swap" rel="stylesheet">        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!-- selecting which stylesheet to show (whether in dark mode or light mode) -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if user.is_authenticated %}
    {%if user.mode == 'light'%}
    <link rel="stylesheet" href="{{ url_for('static', filename='light-theme.css') }}" id="site-theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
    {%endif%}
    <!-- for keeping dark mode between browsers -->
    {%if user.mode == 'dark'%}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark-theme.css') }}" id="site-theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
    {%endif%}
    {%if user.mode == 'system'%}
    <link rel="stylesheet" href="{{ url_for('static', filename='system-theme.css') }}" id="site-theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
    {%endif%}
{%else%}
    <link rel="stylesheet" href="{{ url_for('static', filename='light-theme.css') }}" id="site-theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
{%endif%}

    <!-- navigation for logged in user -->
{% if user.is_authenticated %}
<nav>
    <div class = "nav">
        <div class = "site-header"> 
            <a class = "navbar-brand site-name" href="/">star <i class="bi bi-stars"></i> watch</a>    
        </div>
        <div class = "nav-menu">
            <ul class = "nav-ul">
                <li><a class="nav-item" href="/">Home</a></li>
                <li><a class="nav-item" href="/planning">Planning</a></li>
                <li><a class="nav-item" href="/paused">Paused</a></li>
                <li><a class="nav-item" href="/completed">Completed</a></li>
            </ul>
        </div>
        <div class="navigation">    
            <div class ="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div> 
        <div class="right_navigation">
            <button id="search_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                &#xF52A;
            </button>
            <div class="account-access">
                <button type="button" class="profile-button">
                    <img class = "profile-pic" src={{user.profile_pic}} alt="profile pic">
                    <div id="releases_dot">
                    <i class="bi bi-dot"></i></div>
                    <div class="arrows">
                        <span  class="arrow_down"> &#xe5c5;</span>
                    </div>
                </button> 
                <div class="login-nav">
                    <a class="user-welcome">Hi <div class="hand_wave"> 👋 </div>, {{user.name}} </a>
                    <hr>
                    <a class="account-item" href="/favorites"> <i class="bi bi-hearts"></i> Favorites </a>
                    <a class="account-item" href="/releases" id="release_item"> 
                        <i class="bi bi-bell" id="no_update"></i> 
                        <i class="bi bi-bell-fill" id="release_button"></i> 
                        Releases </a>
                    <a class="account-item" href="/statistics"> <i class="bi bi-bar-chart-line-fill"></i> Stats </a>
                    <hr>
                    <a class="account-item" href="/settings"> <i class="bi bi-person-gear"></i> Settings </a>   
                    <a class="account-item" href="/logout"> <i class="bi bi-box-arrow-right"></i> Logout </a>
                    <br>
                </div>  
            </div>
        </div>
    </div>  
</nav> 
<div class="hamburger_navigation">
    <ul>
        <li> 
            <form action='/search' method="GET">
                <input type="text" id="search_box_smaller" autocomplete="off" placeholder="Search..." autofocus name="q"></input>
            </form>
        </li>
        <li><a class="nav-item" href="/">  <i class="bi bi-tv"></i> Home</a></li>
        <li><a class="nav-item" href="/planning"><i class="bi bi-collection-play"></i>Planning</a></li>
        <li><a class="nav-item" href="/paused"><i class="bi bi-pause-circle"></i>Paused</a></li>
        <li><a class="nav-item" href="/completed"> <i class="bi bi-check-circle"></i>Completed</a></li>
    </ul>
</div>
<!-- navigation for a user that's not signed in -->
{%else%}
    <div class="nav">
        <div class = "account-header"> 
            <a class = "header-name" href="/">star <i class="bi bi-stars"></i> watch</a>    
        </div>
        <div class = "logged-out">
            <a class="nav-item loggedout-navitem" href="/login">Log in</a>
            <a class="nav-item loggedout-navitem" href="/signup">Sign up</a>  
        </div>
    </div>
{%endif%}        
<br>
<!-- flash messages -->
 {% with messages = get_flashed_messages(with_categories=true) %}
    {%if messages%}
        {%for category, message in messages%}
            {% if category == 'error' %}
                <div class = "alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close alert_close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%elif category == 'success'%}
                <div class = "alert alert-success alert-dismissable fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close alert_close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%else%}
                <div class = "alert alert-info alert-dismissable fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close alert_close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endif%}
        {%endfor%}
    {%endif%}
 {%endwith%}
<form action='/search' method="GET"  class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal_bg">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="form-group" id="input_search">
                    <div class="input-group">
                        <div class="input-group-text" id="nav_search_icon">&#xF52A;</div>
                            <input type="text" class="form-control" id="search_box" placeholder="Search..." onkeyup="countSearchBox()" autocomplete="off" name="q">
                            <div id="nav_search_clear">
                                <button type="button" class="input-group-text" id="nav_search_clear_btn">&#xF659;</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
</form> 


 <!-- add media form -->
{% if user.is_authenticated%}
<div class="modal fade" id="addmediaForm">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST"  action="/add_media" id="mediaFormNew">
                    <div class="addMediaFormHeader">
                        <h1 class="addmediaHeader"> Add New Media</h1>
                    </div> 
                    <br> 
                    <br>
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" autocomplete="off" placeholder="ex. Naruto" name = "add_title" required>
                                <label for="add_title" class="form-label" id="labelText"> Title</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control add-input" autocomplete="off" placeholder="add image source (https://...jpg, .png, jpeg)" name = "add_image_form">    
                                <label for="add_image_form"  class="form-label"  id="labelText" > Image Link</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select add-input" aria-label="Default select example" name = "status">
                                    <option selected value="Planning">Planning</option>
                                    <option value="Watching">Watching</option>
                                    <option value="Paused">Paused</option>
                                    <option value="Completed">Completed</option>
                                </select>
                                <label for="status" id="labelText" class="form-label">Status</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select add-input" name="rating" aria-label="Default select example">
                                    <option selected>Choose a Rating</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>                  
                                <label for="rating"   id="labelText" class="form-label">Rating</label>
                            </div>
                        </div>
                    </div> 
                    <br><br>
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect1"  aria-label="Default select example" name = "type">
                                    <option selected>Media Type</option>
                                    <option value="Show">Show</option>
                                    <option value="Movie">Movie</option>
                                    <option value="Anime">Anime</option>
                                    <option value="Donghua">Donghua</option>
                                    <option value="Animation/Cartoon">Animation/Cartoon</option>
                                    <option value="Drama">Drama (ex. kdrama, jdrama, etc.)</option>
                                    <option value="other">Other</option>
                                </select>
                                <label for="type" class="form-label">Type</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect2"  aria-label="Default select example" name = "language">
                                    <option selected >Select Language</option>
                                    <option value="English">English</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="German">German</option>
                                    <option value="Swedish">Swedish</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Multi">Multi</option>
                                    <option value="other">Other</option>
                                </select>  
                                <label for="language"  id="labelText" class="form-label ">Language</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <div class="currentEpLabelDiv">
                                <label for="current_ep"  class="form-label add-form-text">What episode are you currently on?</label>
                                <div class="currentEpDiv">
                                </div>
                            </div>
                            <input type="number" step="1" min="0" class="form-control add-input" autocomplete="off" name = "current_ep">
                        </div>
                        <div class="form-group col-md-6">
                            <div class="totalEpLabelDiv">
                                <label for="total_eps"  class="form-label add-form-text">Total Episodes</label>
                                <div class="totalEpDiv">
                                    <span id="totalEpHelp">
                                        <i class="bi bi-question-circle"></i>
                                    </span>
                                    <p id="totalEpText"> Defaults to ? when left blank</p>
                                </div>
                            </div>
                            <input type="text"  class="form-control add-input" autocomplete="off" name = "total_eps" aria-describedby="mediaHelp">
                        </div>
                    </div>
                    <br>
                    <div class="col-md">
                        <div class="form-group col-auto">
                            <div class="release_info">
                                <label for="release_status">Release Status <i class="bi bi-info-circle release_symbol"></i></label>
                                <span class="release_info_text"> Defaults to Released if nothing is selected. Not yet released means there is no known release date. Scheduled 
                                    Release means that the release date is known. When prompted only enter in the date of the release (ex. April, 11, 2023 or 4/11/2023).
                                </span>
                            </div>
                            <select class="form-select" id="releaseStatSelect"  aria-label="Default select example" name = "release_status">
                                <option selected >Select Release Status</option>
                                <option value="Released">Released</option>
                                <option value="Not yet released">Not yet released</option>
                                <option value="Currently Releasing">Currently Releasing </option>
                                <option value="Scheduled Release">Scheduled Release </option>
                            </select>  
                            <br>
                            <input type="hidden" class="form-control add-input" id="release_input" autocomplete="off"  name = "release_information" aria-describedby="mediaHelp">
                        </div> 
                    </div>
                    <br>
                    <div class="form-floating">
                        <textarea class="form-control" style="height: 100px" name="description" id="add_description" onkeyup="countAddDesc()" placeholder="leave blank if you do not want to provide a description" maxlength="850" aria-describedby="mediaHelp"></textarea>
                        <label for="description"   id="labelText" class="form-label">Description</label>
                        <div id="mediaDescHelp" class="form-text">
                            <p id="add_desc_count">850</p>
                            <p id="add_desc_total"> out of 850 characters </p>
                        </div>
                    </div>
                    <button type="submit" id= "add_media_button" class="btn btn-primary" >Add Media</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endif%}
{%set counter = namespace(count=0, toggles=0)%} 
{%if user.is_authenticated%}
    {%if cards is defined%}
        {%for card in cards.items %}
        <div class="modal fade" id="editMedia_{{card.id}}">  
            <div class="modal-dialog">
                <div class="modal-content editMediaModal">
                    <div class="modal-header">   
                        <div class="addMediaFormHeader">
                            <div class="editmediaimage">
                                <img class="edit-img" src="{{card.image}}"> 
                            </div>
                            <br>
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{card.title}} </h1><br>
                        </div> 
                    </div> 
                    
                    <div class="modal-body">
                    <form action="/edit/card/{{card.id}}" method="POST">
                        <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating mb-2">
                            <input type="text" class="form-control add-input" id="floatingInput" autocomplete="off"  placeholder="{{card.title}}" name = "edit_title">
                            <label for="edit_title"  id="labelText" class="form-label"> Title</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control add-input" id="floatingInput" autocomplete="off"  placeholder="add image source (https://...jpg, .png, jpeg)" name = "edit_image_form">
                                <label   id="labelText" for="edit_image_form"  class="form-label"> Image Link</label>
                            </div>
                        </div>
                        </div>
                        <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                            <select class="form-select" aria-label="Default select example"  id="floatingSelect3" name = "edit_status">
                                <option selected>{{card.status}}</option>
                                <option value="Planning">Planning</option>
                                <option value="Watching">Watching</option>
                                <option value="Paused">Paused</option>
                                <option value="Completed">Completed</option>
                                </select>
                            <label id="labelText" for="edit_status"  class="form-label">Status</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                            <select class="form-select add-input" id="floatingSelect4" name="edit_rating" aria-label="Default select example">
                                <option selected>{{card.rating}}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label  id="labelText" class="form-label" for="edit_rating">Rating</label>
                            </div>
                        </div>   
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select add-input" aria-label="Default select example" id="floatingSelect5" name = "edit_type">
                                    <option selected>{{card.media_type}}</option>
                                    <option value="Show">Show</option>
                                    <option value="Movie">Movie</option>
                                    <option value="Anime">Anime</option>
                                    <option value="Donghua">Donghua</option>
                                    <option value="Animation/Cartoon">Animation/Cartoon</option>
                                    <option value="Drama">Drama (ex. K-Drama, J-Drama, etc.)</option>
                                    <option value="other">Other</option>
                                </select>
                                <label   id="labelText" for="edit_type">Type</label>
                            </div> 
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                            <select class="form-select add-input" aria-label="Default select example" id="floatingSelect6" name = "edit_language">
                                <option selected>{{card.language}}</option>
                                <option value="English">English</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Korean">Korean</option>
                                <option value="Chinese">Chinese</option>
                                <option value="German">German</option>
                                <option value="Swedish">Swedish</option>
                                <option value="Thai">Thai</option>
                                <option value="Multi">Multi</option>
                                <option value="other">Other</option>
                            </select>
                            <label id="labelText" for="edit_language" class="form-label">Language</label>
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="row g-2">
                            <div class="col-md modalCurrentEp">
                                <div class="form-group col-auto inputCurrentEp">
                                <label for="edit_current_ep" >Current Episode </label>
                                {%if card.current_ep == ""%}
                                    <input type="number" step="1" min="0" class="form-control add-input " autocomplete="off"   name = "edit_current_ep" value="0">
                                {%else%}
                                    <input type="number" step="1" min="0" class="form-control add-input " autocomplete="off"  name = "edit_current_ep" value={{card.current_ep}}>
                                {%endif%}
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group col-auto">
                                    <label for="edit_total_eps">Total Episode Count</label>
                                    {%if card.total_eps == ""%}
                                        <input type="text" class="form-control add-input" autocomplete="off"  name = "edit_total_eps" aria-describedby="mediaHelp" placeholder="0">
                                    {%else%}
                                        <input type="text" class="form-control add-input" autocomplete="off"  name = "edit_total_eps" aria-describedby="mediaHelp" placeholder={{card.total_eps}}>
                                    {%endif%}
                                </div> 
                            </div>
                            <div class="col-md">
                                <div class="form-group col-auto">
                                    <label for="release_status">Release Status </label>
                                    <select class="form-select edit_releaseStatSelect" id="formSelect" aria-label="Default select example" name = "edit_release_status">
                                        <option selected >{{card.release_status}}</option>
                                        <option value="Released">Released</option>
                                        <option value="Not yet released">Not yet released </option>
                                        <option value="Currently Releasing">Currently Releasing </option>
                                        <option value="Scheduled Release">Scheduled Release </option>
                                    </select>  
                                    <br>
                                    {% if card.release_information != "" or card.release_information is not none %}
                                        <input type="hidden" class="form-control add-input editReleaseInput" autocomplete="off"  name = "edit_release_information" placeholder="{{card.release_information}}" aria-describedby="mediaHelp">
                                    {% else %}
                                        <input type="hidden" class="form-control add-input editReleaseInput" autocomplete="off"  name = "edit_release_information" placeholder="" aria-describedby="mediaHelp">
                                    {%endif%}
                                </div> 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="edit_description" class="form-label"> Description</label>
                            <textarea class="form-control edit_description" name="edit_description" placeholder='{{card.description}}' onkeyup="countEditDesc('{{counter.count}}')" rows="3" maxlength="850" aria-describedby="descHelpBlock"></textarea>
                                <div id="descHelpBlock" class="form-text">
                                <p class="active_desc_count">850</p>
                                <p class="total_desc_count"> out of 850 characters </p>
                            </div>
                        </div>
                        <button type="submit" id= "edit_media_button" class="btn btn-primary">Update</button>               
                        <br>
                        <button type="button" id="delete_button" aria-label="delete" class="btn btn-primary" data-bs-target="#deleteMedia__{{card.id}}" data-bs-toggle="modal">Delete</button>
                    </form> 
                    <br>
                    </div>         
                </div>
            </div> 
        </div>
        {% set counter.count = counter.count + 1 %}
        {%endfor%}
        {%for card in cards.items %}
        <div class="modal fade" id="deleteMedia__{{card.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body check_delete">
                    <h4 class = "delete_text"> Are you sure you'd like to delete "{{card.title}}"?</h4>
                    <br>        
                    <form action="{{url_for('delete', card_id=card.id)}}" method="POST"><button type="submit" id="confirm_check" class="btn btn-info" >Delete</button></form>
                    <button id="cancel_check" class="btn btn-primary" type="button"  data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>  
            </div> 
        </div> 
        {%endfor%}
    {%endif%}
    {%for date in releases_dates%}

        {%if date == today%}
        {% set counter.toggles = counter.toggles + 1 %}
        <input type="hidden" id="toggleIndicators" value="{{counter.toggles}}"> 

        {%endif%} 
    {%endfor%}
        
{%endif%}
<section class = "content">
    {% block body %}
    {% endblock %}
     <!-- add media button -->
    {% if user.is_authenticated%}
    <div class="add-item">
        <button class="add-item-image" data-bs-toggle="modal" data-bs-target="#addmediaForm">
            <i class="bi bi-patch-plus-fill add_plus"></i>
        </button>
    </div> 
    {%endif%}
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='node_modules/vanilla-tilt/src/vanilla-tilt.js')}}"></script> <!-- Load Tilt.js library -->
</section>