{%extends "base.html" %}
{%block header%}
<h1>{%block title%}Home{%endblock%}</h1>
{%endblock%}
{%block body %}

<!-- https://getbootstrap.com/docs/5.2/components/carousel/ -->
{%set counter = namespace(value=0, count=0, tag=0)%}
{%for card in user.cards %}
{%if card.status == 'Watching' %}
{% set counter.value = counter.value + 1 %}
{%endif%}
{%endfor%}
{%if counter.value == 0%}
<div class="page-title"> Currently Watching
  <h3 class="no_media"> There doesn't seem to be anything on your watching list. </h3>
  <h5 class="no_media"> Click on the plus button to add some media to your watch list! </h5>
</div>
{%else%} {%if images|length>= 5 %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-keyboard="true">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      {% set var = ids[0] %}
      <img src="{{images[0]}}" class="carousel-img" alt={{images[0]}} id="img-active0" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[0]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[1] %}
      <img src="{{images[1]}}" class="carousel-img" alt={{images[1]}} id="img-active1" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[1]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[2] %}
      <img src="{{images[2]}}" class="carousel-img" alt={{images[2]}} id="img-active2" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[2]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[3] %}
      <img src="{{images[3]}}" class="carousel-img" alt={{images[3]}} id="img-active3" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[3]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[4] %}
      <img src="{{images[4]}}" class="carousel-img" alt={{images[4]}} id="img-active4" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[4]}}</h1>
      </div>
    </div>
  </div>
</div>
<button class="carousel-control-prev carousel-prev" id="button-back" type="button" data-bs-target="#myCarousel"
  data-bs-slide="prev">
  <i class="bi bi-caret-left-square"></i>
</button>
<button class="carousel-control-next carousel-next" id="button-forward" type="button" data-bs-target="#myCarousel"
  data-bs-slide="next">
  <i class="bi bi-caret-right-square"></i>
</button>
</div>
{%else %}
{%if images|length > 2 and images|length < 5 %} <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel"
  data-bs-wrap="true" data-bs-keyboard="true">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      {% set var = ids[0] %}
      <img src="{{images[0]}}" class="carousel-img" alt={{images[0]}} id="lesser-img-active0" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[0]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[1] %}
      <img src="{{images[1]}}" class="carousel-img" alt={{images[1]}} id="lesser-img-active1" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[1]}}</h1>
      </div>
    </div>
    <div class="carousel-item">
      {% set var = ids[2] %}
      <img src="{{images[2]}}" class="carousel-img" alt={{images[2]}} id="lesser-img-active2" data-bs-toggle="modal"
        data-bs-target="#mediaInfo_{{var}}">
      <div class="carouselTitleItem">
        <h1 class="carousel_titles">{{titles[2]}}</h1>
      </div>
    </div>
    <button class="carousel-control-prev carousel-prev" type="button" data-bs-target="#myCarousel1"
      data-bs-slide="prev">
      <i class="bi bi-caret-left-square"></i>
    </button>
    <button id="slider_buttons" class="carousel-control-next carousel-next" type="button" data-bs-target="#myCarousel1"
      data-bs-slide="next">
      <i class="bi bi-caret-right-square"></i>
    </button>
  </div>
  </div>
  {%endif%}
  {%endif%}
  <br>
  <div class="page-title">
    <p> Currently Watching </p>
  </div>
  <div class="card-container">
    {%for card in cards.items %}
    <div class="card-item">
      <div class="card-img-container" data-tilt data-tilt-glare data-tilt-max-glare="0.2" data-tilt-max="4">
        <img src={{card.image}} class="card-image" alt='{{card.title}}'>
      </div>
      <div class="hearts">
        <div class="heart_buttons">
          <p class="name">{{card.title}}</p>
        </div>
      </div>
      <div class="ep-tracker">
        <div class="upcountDiv">
          <p class="ep-on">{{card.current_ep}}</p>
        </div>
        <button type="button" onclick="upcountFunc('{{card.id}}','{{counter.count}}', '{{card.title}}')"
          class="upcount">+</button>
        <div class="hidden_input1">
          <input type="hidden" class="currentEp" name="currentEp" value="{{card.current_ep}}">
        </div>
        <div class="hidden_input2">
          <input type="hidden" class="totalEp" name="totalEp" value="{{card.total_eps}}">
        </div>
        <p id="divider"> / </p>
        <p id="ep-total">{{card.total_eps}}</p>
      </div>
      <div class="see_more">
        <button class="view_more" type="button" data-bs-toggle="modal" data-bs-target="#mediaInfo_{{card.id}}">
          <i class="bi bi-three-dots"></i> </button>
      </div>
    </div>
    {% set counter.count = counter.count + 1 %}
    {%endfor%}
  </div>
  {%endif%}
  <br><br>
  <div class="page_numbers">
    {% if prev_page != '/' %}
    <a class='prev-btns' href="{{prev_page}}">
      <i class="bi bi-arrow-left-square"></i>
    </a>
    {%endif%}
    {%for page_num in cards.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {%if page_num%}
    {%if cards.page == page_num %}
    <a class="btn btn-primary" href="{{url_for('index', page=page_num)}}" id="currentpage_btn">{{page_num}}</a>
    {%else%}
    <a class="pagenum_button btn btn-outline-primary " href="{{url_for('index', page=page_num)}}">{{page_num}}</a>
    {%endif%}
    {%else%}
    <div class="page_dots">
      <i class="bi bi-three-dots"></i>
    </div>
    {%endif%}
    {%endfor%}
    {% if (total_pgs != 0 and page != total_pgs) %}
    <a class='next-btns' href="{{next_page}}">
      <i class="bi bi-arrow-right-square"></i>
    </a>
    {%endif%}
  </div>
  {%endblock%}