{%extends "base.html"%}
{%block header%}
 <h1>{%block title%}Paused{%endblock%}</h1>
 {%endblock%}
{%block body%}
<div class = "page-header">
  <h2> Paused </h2>
</div>
<br>
{%set counter = namespace(value=0)%} 
  {%for card in user.cards %} 
   {%if card.status == 'paused' %}
      {% set counter.value = counter.value + 1 %}
    {%endif%} 
  {%endfor%}  
{%if counter.value == 0%}
        <h3 class="no_media"> There doesn't seem to be anything on your paused list.</h3>
        <h5 class="no_media"> Click on the plus button to add some media to your watch list!  </h5> 
{%endif%} 
<div class = "card-container">
{%for card in user.cards %} 
  {%if card.status == 'paused' %}
    <div class="card-item">
      <img src = {{card.cover_image_src}} class="card-image" alt={{card.title}}>
    <div class="tag">
      <!-- <span class="tag-name">{{card.item_tag}}</span> -->
    </div>  
      <p id="name">{{card.title}}</p>
      <p id="status">#{{card.status}}</p>
    <div class="ep-tracker">
      <p id="ep-on">{{card.current_ep}}</p>
      <p id="divider"> / </p>
      <p id="ep-total">{{card.total_eps}}</p>
  </div>
</div>
  {%endif%} 
{%endfor%}  
</div> 
{%endblock%}