{%extends "base.html"%}
{%block header%}
 <h1>{%block title%}Planning{%endblock%}</h1>
 {%endblock%}
{%block body%}
  <div class = "page-header">
    <h2> Planning </h2>
</div>
<br>
<div class = "card-container">
 {%for card in user.cards %}
        <div class="card-item">
      <img src = {{card.cover_image_src}} class="card-image" alt={{card.title}}>
      <div class="tag">
        <!-- <span class="tag-name">{{card.item_tag}}</span> -->
      </div>  
      <p id="name">{card.title}}</p>
      <p id="status">#{{card.status}}</p>
      <div class="ep-tracker">
          <p id="ep-on">{{card.current_ep}}</p>
          <p id="upcount">+</p>
          <p id="divider"> / </p>
          <p id="ep-total">{{card.total_eps}}</p>
      </div>
    </div> 
{%endfor%}
</div>
{%endblock%}
