{%extends "base.html"%}
{%block header%}
<h1>{%block title%}Releases{%endblock%}</h1>
{%endblock%}
{%block body%}
{%if releases == 0%}
<h3 class="no_media"> There doesn't seem to be anything on your list that has not been released already or is currently
    releasing. </h3>
{%else%}
<br>
<h3 class="releasesTitle" id="currentlyReleasing"><u>Currently Releasing</u></h3>
<br><br>
<div id="currentreleasesArrowsDiv">
    <div id="currentreleasesMoreLeft"><i class="bi bi-chevron-left"></i></div>
    <div id="currentreleasesMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id="releases-containerA">
    {%for item in currentRel %}
    <div class="releases-item">
        <div class="releasesEdit">
            <button class="releases_edit_button" type="button" data-bs-toggle="modal"
                data-bs-target="#mediaInfo_{{item.id}}">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
        <div class="releases-img-container">
            <img src={{item.image}} class="card-image" alt="{{item.title}}">
        </div>
        <div class="release_title">
            <p class="release_name">{{item.title}}</p>
        </div>
        <div class="info_release">
            <p class="lower_row">
                {{item.release_status}}
                {%if item.release_information is not none and item.release_information != "" %}
                : {{item.release_information}}
                {%endif%}
            </p>
        </div>
    </div>
    {%endfor%}
</div>

<br><br>
<h3 class="releasesTitle" id="scheduledReleased"><u>Scheduled Release</u></h3>
<br>
<br><br>
<div id="schedreleasesArrowsDiv">
    <div id="schedreleasesMoreLeft"><i class="bi bi-chevron-left"></i></div>
    <div id="schedreleasesMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id="releases-containerB">
    {%for item in scheduled %}
    <div class="releases-item">
        <div class="releasesEdit">
            <button class="releases_edit_button" type="button" data-bs-toggle="modal"
                data-bs-target="#mediaInfo_{{item.id}}">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
        <div class="releases-img-container">
            <img src={{item.image}} class="card-image" alt="{{item.title}}">
        </div>
        <div class="release_title">
            <p class="release_name">{{item.title}}</p>
        </div>
        <div class="info_release">
            <p class="lower_row">
                {%if item.release_information is not none and item.release_information != ""%}
                {%for date in releases_dates%}
                {%if date.strftime("%Y-%m-%d") == item.release_information%}
                {{date.strftime("%b %-d, %Y")}}
                {%endif%}
                {%endfor%}
                {%endif%}
            </p>
        </div>
    </div>
    {%endfor%}
</div>


<br><br>
<h3 class="releasesTitle" id="Unreleased"><u>Not Yet Released</u></h3>
<br><br>
<div id="unreleasedArrowsDiv">
    <div id="unreleasedMoreLeft"><i class="bi bi-chevron-left"></i></div>
    <div id="unreleasedMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id="releases-containerC">
    {%for item in unreleased %}
    <div class="releases-item">
        <div class="releasesEdit">
            <button class="releases_edit_button" type="button" data-bs-toggle="modal"
                data-bs-target="#mediaInfo_{{item.id}}">
                <i class="bi bi-three-dots"></i>
            </button>
        </div>
        <div class="releases-img-container">
            <img src={{item.image}} class="card-image" alt="{{item.title}}">
        </div>
        <div class="release_title">
            <p class="release_name">{{item.title}}</p>
        </div>
        <div class="info_release">
            <p class="lower_row">
                {{item.release_status}}
                {%if item.release_information is not none and item.release_information != "" %}
                : {{item.release_information}}
                {%endif%}
            </p>

        </div>
    </div>
    {%endfor%}
</div>

{%endif%}
{%endblock%}