{%extends "base.html"%}
{%block header%}
 <h1>{%block title%}Releases{%endblock%}</h1>
{%endblock%}
{%block body%}
{%if releases == 0%}
        <h3 class="no_media"> There doesn't seem to be anything on your list that has not been released already or is currently releasing. </h3>
{%else%}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><u> Updates</u></h3>
    <button type="button" class="btn-close" id="offcanvas_exit" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {%for date in releases_dates%}
        {%if date == today%}
            {%for item in scheduled %} 
                {%if date.strftime("%Y-%m-%d") == item.release_information%}
                    <div class="updates-item">
                        <div class="update_title">
                                <p id="name">{{item.title}} has released</p> 
                            </div> 
                        </div>
                    
                {%endif%}
            {%endfor%}
        {%endif%}
    {%endfor%} 
    {%for item in currentRel %} 
        {%if "Sunday" in item.release_information and "Sunday" == today.strftime("%A")%}
            <div class="updates-item">
                <div class="update_title">
                        <p id="name">{{item.title}} aired a new episode </p> 
                    </div> 
                </div>
        {%endif%}
        {%if "Monday" in item.release_information and "Monday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
        {%if "Tuesday" in item.release_information and "Tuesday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
        {%if "Wednesday" in item.release_information and "Wednesday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
        {%if "Thursday" in item.release_information and "Thursday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
        {%if "Friday" in item.release_information and "Friday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
        {%if "Saturday" in item.release_information and "Saturday" == today.strftime("%A")%}
        <div class="updates-item">
            <div class="update_title">
                    <p id="name">{{item.title}} aired a new episode </p> 
                </div> 
            </div>
        {%endif%}
    {%endfor%} 
</div> 
    <button type="button" id="update_read">Mark as Read</button>
  </div>
 


<button id="release_updates" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> 
  <h3> Updates</h3>
</button>
<br>
<br><br>
<h3 class="releasesTitle" id="currentlyReleasing"><u>Currently Releasing</u></h3>
<br><br>
{%if currentcount >= 4%}
<div id="currentreleasesArrowsDiv">
  <div id="currentreleasesMoreLeft"><i class="bi bi-chevron-left"></i></div>
  <div id="currentreleasesMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id = "releases-containerA"> 
{%for item in currentRel %} 
    <div class="releases-item">
        <div class="releasesEdit">
            <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            </button>
        </div>
        <div class="releases-img-container"> 
        <img src = {{item.image}} class="card-image" alt="{{item.title}}">
        </div>
        <div class="hearts">
            <div class="heart_buttons">
                <p id="name">{{item.title}}</p> 
            </div>
        </div>
        <div class="info_release">
            <p class = "lower_row">
                {{item.release_status}} 
                {%if item.release_information is not none and item.release_information != "" %}
                    : {{item.release_information}}
                {%endif%}
            </p> 
        </div>
    </div>
{%endfor%}  
</div> 
{%else%}
<div id = "smaller-releases-containerA"> 
  {%for item in currentRel %} 
      <div class="releases-item">
          <div class="releasesEdit">
              <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
          </div>
          <div class="releases-img-container"> 
          <img src = {{item.image}} class="card-image" alt="{{item.title}}">
          </div>
          <div class="hearts">
              <div class="heart_buttons">
                  <p id="name">{{item.title}}</p> 
              </div>
          </div>
          <div class="info_release">
              <p class = "lower_row">
                  {{item.release_status}} 
                  {%if item.release_information is not none and item.release_information != "" %}
                      : {{item.release_information}}
                  {%endif%}
              </p> 
             
          </div>
      </div>
  {%endfor%}  
  </div> 
{%endif%}
<br><br>
<h3 class="releasesTitle" id="scheduledReleased"><u>Scheduled Release</u></h3>
<br>
<br>
{%if schedcount >= 4%}
<div id="schedreleasesArrowsDiv">
  <div id="schedreleasesMoreLeft"><i class="bi bi-chevron-left"></i></div>
  <div id="schedreleasesMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id = "releases-containerB">   
  {%for item in scheduled %} 
      <div class="releases-item">
          <div class="releasesEdit">
              <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
            </div>
          <div class="releases-img-container"> 
          <img src = {{item.image}} class="card-image" alt="{{item.title}}">
          </div>
          <div class="hearts">
              <div class="heart_buttons">
                  <p id="name">{{item.title}}</p> 
              </div>
          </div>
          <div class="info_release">
              <p class = "lower_row">
                  {{item.release_status}} 
                  {%if item.release_information is not none and item.release_information != ""%}
                    {%for date in releases_dates%}
                        {%if date.strftime("%Y-%m-%d") == item.release_information%}
                            : {{date.strftime("%b %-d, %Y")}}
                        {%endif%}
                    {%endfor%}
                  {%endif%}
              </p> 
          </div>
      </div>
  {%endfor%}  
</div>    
{%else%}
<div id = "smaller-releases-containerB"> 
  {%for item in scheduled %} 
      <div class="releases-item">
          <div class="releasesEdit">
              <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
            </div>
          <div class="releases-img-container"> 
          <img src = {{item.image}} class="card-image" alt="{{item.title}}">
          </div>
          <div class="hearts">
              <div class="heart_buttons">
                  <p id="name">{{item.title}}</p> 
              </div>
          </div>
          <div class="info_release">
              <p class = "lower_row">
                  {{item.release_status}} 
                  {%if item.release_information is not none and item.release_information != "" %}
                    {%for date in releases_dates%}
                        {%if date.strftime("%Y-%m-%d") == item.release_information%}
                            : {{date.strftime("%b %-d, %Y")}}
                        {%endif%}
                    {%endfor%}
                  {%endif%}
              </p> 
          </div>
      </div>
  {%endfor%}  
  </div>    
{%endif%}
<br><br>
<h3 class="releasesTitle" id="Unreleased"><u>Not Yet Released</u></h3>
<br><br>
{%if unrelcount >4 %}
<div id="unreleasedArrowsDiv">
  <div id="unreleasedMoreLeft"><i class="bi bi-chevron-left"></i></div>
  <div id="unreleasedMoreRight"><i class="bi bi-chevron-right"></i></div>
</div>
<div id = "releases-containerC"> 
{%for item in unreleased %} 
    <div class="releases-item">
        <div class="releasesEdit">
            <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            </button>
          </div>
        <div class="releases-img-container"> 
        <img src = {{item.image}} class="card-image" alt="{{item.title}}">
        </div>
        <div class="hearts">
            <div class="heart_buttons">
                <p id="name">{{item.title}}</p> 
            </div>
        </div>
        <div class="info_release">
            <p class = "lower_row">
                {{item.release_status}} 
                {%if item.release_information is not none and item.release_information != "" %}
                    : {{item.release_information}}
                {%endif%}
            </p> 
           
        </div>
    </div>
{%endfor%}  
</div> 
{%else%}
<div id = "smaller-releases-containerC"> 
  {%for item in unreleased %} 
      <div class="releases-item">
          <div class="releasesEdit">
              <button type="button" class="releases_edit_button" data-bs-toggle="modal" data-bs-target="#editMedia_{{item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              </button>
            </div>
          <div class="releases-img-container"> 
          <img src = {{item.image}} class="card-image" alt="{{item.title}}">
          </div>
          <div class="hearts">
              <div class="heart_buttons">
                  <p id="name">{{item.title}}</p> 
              </div>
          </div>
          <div class="info_release">
              <p class = "lower_row">
                  {{item.release_status}} 
                  {%if item.release_information is not none and item.release_information != "" %}
                      : {{item.release_information}}
                  {%endif%}
              </p> 
             
          </div>
      </div>
  {%endfor%}  
  </div> 
{%endif%}
{%endif%} 
{%endblock%}