{%extends "base.html"%}
{%block header%}
<h1>{%block title%}Search{%endblock%}</h1>
{%endblock%}
{%block body%}
<div class="search-title">
  <h2> Search Results </h2>
</div>
<form action='/search' method="GET" id="search_search">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-text" id="search_search_icon">&#xF52A;</div>
      <input type="text" class="form-control" id="search_search_box" value="{{search_query}}" onkeyup="countSearch()"
        autocomplete="off" name="q">
      <div id="search_clear">
        <button type="button" class="input-group-text" id="search_clear_btn">&#xF659;</button>
      </div>
    </div>
  </div>
</form>
{%if card_amount|length == 0 %}
<br><br>
<h3 class="search_text"> No items found matching search "{{search_query}}"
  <br> <br> Please try again
</h3>
{%else%}
<br><br><br><br>
<div class="page_numbers">
  {%set var = search_query %}
  {% if prev_page != none %}
  <a class='prev-btns' href="{{url_for('search', q=search_query, page=prev_page)}}">
    <i class="bi bi-arrow-left-square"></i>
  </a>
  {%endif%}
  {%for page_num in cards.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
  {%if page_num%}
  {%if cards.page == page_num %}
  <a class="btn btn-primary" href="{{url_for('search', q=search_query, page=page_num)}}"
    id="currentpage_btn">{{page_num}}</a>
  {%else%}
  <a class="btn btn-outline-primary pagenum_button"
    href="{{url_for('search', q=search_query, page=page_num)}}">{{page_num}}</a>
  {%endif%}
  {%else%}
  <div class="page_dots">
    <i class="bi bi-three-dots"></i>
  </div>
  {%endif%}
  {%endfor%}
  {% if page != total_pgs %}
  <a class='next-btns' href="{{url_for('search', q=search_query, page=next_page)}}">
    <i class="bi bi-arrow-right-square"></i>
  </a>
  {%endif%}
</div>
<br>
{%endif%}
{%set counter = namespace(count=0, tag=0)%}
<br>
<div class="card-container">
  {%for card in cards.items %}
  <div class="card-item">
    <div class="card-img-container" data-tilt data-tilt-glare data-tilt-max-glare="0.2" data-tilt-max="4">
      <img src={{card.image}} class="card-image" alt='{{card.title}}'>
    </div>
    <div class="hearts">
      <div class="heart_buttons">
        <p class="name">{{card.title}}</p>
      </div>
    </div>
    <div class="ep-tracker">
      <div class="upcountDiv">
        <p class="ep-on">{{card.current_ep}}</p>
      </div>
      <p id="divider"> / </p>
      <p id="ep-total">{{card.total_eps}}</p>
    </div>
    <div class="see_more">
      <button class="view_more" type="button" data-bs-toggle="modal" data-bs-target="#mediaInfo_{{card.id}}">
        <i class="bi bi-three-dots"></i> </button>
    </div>
  </div>
  {% set counter.count = counter.count + 1 %}
  {%endfor%}
</div>
{%endblock%}