@media screen and (max-width:374px) {
    .nav {
        justify-content: space-between;
    }
    #search_button {
        display: none;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -9.5em;
    }
    .carousel-item {
        height: 180px;
    }
    .hamburger {
        display: block; 
        position:relative;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search { 
        display: none;
    }
    .nav-item {
        margin-left: 0em;
    }
    .right_navigation {
        width: 24%;
    }
    .heart_filled.animate::before {
        left: 57%;
    }
    .heart_filled.animate::after {
        left: 57%;
    }
    /* .editmediaimage {
        width: 111%;
    } */
    #delete_button {
        width: 40%;
    }
    #edit_media_button {
        width: 40%;
    }
    .mediaInfoDiv {
        max-width: 100%;
    }
}
@media screen and (min-width:375px) and (max-width:424px) {
    .nav-item {
        margin-left: 0em;
    }
    .account-access {
        margin-top: -4em;
        margin-left: 80%;
    }
    #search_button {
        display: none;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -9.6em;
    }
    .carousel-item {
        height: 180px;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search { 
        display: none;
    }
    .right_navigation {
        width: 100%;
    }
    .heart_filled.animate::before {
        left: 57%;
    }
    .heart_filled.animate::after {
        left: 57%;
    }
    /* .editmediaimage {
        width: 244px;
    } */
    #delete_button {
        width: 40%;
    }
    #edit_media_button {
        width: 40%;
    }
    .toggleEdit {
        margin-left: 91%;
    }
    .editButtonB {
        margin-left: 91%;
    }
    .mediaInfoDiv {
        max-width: 100% !important;
    }
}
@media screen and (min-width:425px) and (max-width:767px) {
    .mediaInfoDiv {
        max-width: 100% !important;
    }
    .nav-item {
        margin-left: 0em;
    }
    .account-access {
        margin-top: -4em;
        margin-left: 80%;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -8.7em;
    }
    .carousel-item {
        height: 450px;
    }
    #search_button {
        display: none;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .card-item {
        /* grid-template-columns: 375px; */
        padding-left: 2em;
    }
    /* .card-img-container {
        width: 375px;
        height: 250px;
    } */
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search { 
        display: none;
    }
    .right_navigation {
        width: 100%;
    }
  

    #delete_button {
        width: 40%;
    }
    #edit_media_button {
        width: 40%;
    }
  
    .editButtonB {
        margin-left: 93%;
    }

    .fav-container {
        grid-template-columns: auto;
    }

    
}
@media screen and (min-width:768px) and (max-width:1023px) { 
    #search_button {
        display: none;
    }
    .nav-item {
        margin-left: 0em;
    }
    .card-container {
        grid-template-columns: auto;
        row-gap: 1em;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -4.5em;
    }
    .carousel-item {
        height: 435px;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .search {
        display: none;
    }
    .account-access {
        margin-top: -3.5em;
        margin-left: 80%;
    } 
    .right_navigation {
        width: 100%;
    }
 
    #delete_button {
        width: 23%;
    }
    #edit_media_button {
        width: 23%;
    }

    .fav-container {
        grid-template-columns: auto auto;
    }
    
} 
@media screen and (min-width: 1024px) and (max-width:1439px) {
    .login-nav {
        margin-left: -9.5em;
    }
    .card-container {
        grid-template-columns: auto auto;
        row-gap: 1em;
    }
    /* .card-item {
        height: 190px;
    } */

    .site-header {
        margin-left: -1em;
        margin-top: 0.3em;
    }
    .nav {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .nav-menu {
        margin-left: -5em;
        margin-top: 0.7em;
    }
    .search {
        margin-top: 2.4em;
    }
    .nav-item {
        margin-left: 5em;
    } 

    #delete_button {
        width: 16%;
    }
    #edit_media_button {
        width: 16%;
    }
  
    .fav-container {
        grid-template-columns: auto auto auto;
    }
} 

@media screen and (min-width: 1440px) and (max-width:1919px) {
    .card-container {
        grid-template-columns: auto auto auto;
    }
   
    .card-item {
        height: 240px;
    }

    .login-nav {
        margin-left: -10em;
    }
    .nav-item {
        margin-left: 8em;
    }
   
    .fav-container {
        grid-template-columns: auto auto auto auto;
    }
   
}

@media screen and (min-width: 1920px)  {
    .card-item {
        height: 259px;
    }
  
}

