/* navigation bar css */
.nav {
    height: auto;
    display:flex;
    font-family: 'Lexend Deca';
    justify-content: space-around;
    background: linear-gradient(15deg, #840087 0%, #5900ff 100%);
    box-shadow: 0px 1px 1px 1px;
    padding-top: 2em;
    padding-bottom: .5em;
    margin-top: -3em;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.2em;
    font-family: 'Poppins', sans-serif;
}
.nav-ul {
    list-style: none;
    display: flex;
    margin-top: 2.1em;
    margin-left: -6em;
    
} 
.nav-item {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-left: 8em;
    text-decoration: none !important;
    transition: 0.7s ease;
    color: #de92ff;
    font-size: 15px;
}
.nav a.active{
    background-color: transparent;
    color: rgb(170, 93, 226);
}
.nav a:before {
    display:flex;
    content: "";
}

.nav a:hover::before{
    width:100%;
}
.nav-item:hover {
    color:#ff99d3;
}

/* account access CSS for logout, login, etc. */
.account-item {
    text-decoration: none !important; 
    margin-top: 16px;
    margin-bottom: 7px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #19245f;
    transition: 0.3s ease;
    padding-bottom: 9px;
}
.account-item:hover {
    color:#ffd0eb;
    display: block;
    /* background-color: #d18fe134; */
}
.user-welcome {
    text-decoration: none !important;
    color: #39285e; 
    margin-top: 19px;
    margin-bottom: 8px;
    transition: 0.3s ease;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: flex;
    justify-content: center;
    /* font-family: 'Recursive'; */
}
.user-welcome:hover {
    background-color: none;
    color:#ffd0eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-welcome:hover .hand_wave {
    animation: rotate_hand 3s infinite;
}
@keyframes rotate_hand {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#myCarousel {
    margin-top: -2em;
}
/* account access stuff for dropdown of profile pic */
.login-nav {
    display: none;
    list-style: none;
    background: linear-gradient(216deg, #cf8492 0%, #803cff 100%);
    transition: 0.5s ease;
    margin-top: 5em;
    text-align: center; 
    border: 1px solid black;
    flex-direction: column; 
    margin-left: -7.5em;
    border-radius: 7px;
    box-shadow: 3px 3px 5px 1px rgb(47, 47, 47);
    z-index: 2;
    width: 265px;
    font-family: 'Poppins', sans-serif;
}

.login-nav.active {
    display: flex; 
    position:absolute;
    z-index: 5;
}

#button-back {
    margin-left: -.5em;
    z-index: 0;
    margin-top: 1em;
}
#button-forward {
    margin-right: -.5em;
    z-index: 1;
    margin-top: 1em;
}
.carousel_titles{
    color: #c8b9b9;
    z-index: 100;
    position: relative;
    margin-top: 0.5em;
    margin-right: auto;
    font-size: 35px;
    grid-area: carousel_title;
    width: 100%;
    font-family: 'Bungee Spice', cursive;   
    margin-left: 1em;
    word-spacing: 5px;
}

.carouselTitleItem {
    display: grid;
    grid-template-areas: "carousel_title"
                        "carousel_button";
    grid-template-columns: auto;
    margin-left: 0em;
    margin-top: -4em;
    justify-content: flex-start;
    z-index: 1;
    position: absolute;
}
.carouselMore {
    width: 87px;
    grid-area: carousel_button;
    border: 1px solid black;
    background: #bb8dd0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 25;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Recursive', sans-serif;

}
/* carousel images */
.carousel-img {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* z-index:1; */
    position:relative;
    object-position: 50% 30%;
}
.carousel-item {
    overflow:hidden;
    width: 100%;
    height: 760px;
    /*  */
} 
.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: space-between;
}
.profile-button {
    background: transparent;
    border: none; 
    padding: 1em 0em 0em 0em;
    align-items: flex-end;
    display: flex;
    position:relative;
}
.site-header {
    display:flex;
}
.site-name {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    margin-left: 0.5em;
    float:left;
    text-decoration: none;
    color: #c994e0;
    transition: 0.7s ease;
    margin-top: .3em;
}

.site-name:hover, focus{
    color: #ea6ecd;
}
/* hamburger menu  */
.hamburger {
    cursor:pointer;
    display:none;
    z-index: 1;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.card-container {
    margin-top: -20px;
    display:grid;
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: auto auto auto auto auto;
    row-gap: 1em;
    justify-content: center;
}
.view_more {
    grid-area: image;
    z-index: 2;
}
.card-item {
    padding: 1px;
    margin: 1em 1.5em 1em 2em;
    display: grid;
    grid-template-columns: 296.5px auto;
    grid-template-rows: 190px;
    grid-template-areas: "image image"
    "name status";   
    transition: 0.5s ease;
    z-index: 0;
    height: 240px;
    background:none;
}
.card-img-container {
    width: 320px;
    height: 180px;
    grid-area: image;
}

.card-img-container:hover {
    transform: scale(1.1);
}
.card-image:hover {
    border: 1px solid #00d4ff;

}
.row_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.card-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 23%;
    box-shadow: 1px 2px 4px black;
}
.toggleEdit {
    grid-area: image;
    position: absolute;
    z-index: 1; 
    width: 0%;
    margin-left: 95%;
    margin-top: -0.24em; 
}
.edit_button {
    height: 1%;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    display:none;
    color: white;
}
.edit_button:hover {
    color: #fd7070;
    transition: all 0.3s ease-out;
}
.card-item:hover .edit_button {
    display:block;
}
.tag {
    margin-top: -0.5em;
    display:flex;
    flex-wrap: wrap;
    row-gap: 0.4em;
    gap: 0.3em;
    margin-left: 2px;
    padding-bottom: 12px;
}
.tag-name {
    padding: 2px 8px;
    display: inline-block;
    border: 1px solid #fbc6fb;
    border-radius: 50px;
    font-size: 12px;
    color: #a49ece;
    font-family: 'Recursive';
}
.name  {
    font-size: 15.5px;
    padding-left: 3px;
    grid-area: name;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Lexend Deca';
    align-items: center;
    align-content: center;
    padding-right: 4em;
}

.status {
    grid-area: status;
    float: right;
    color: powderblue;
    font-family: 'Lexend Deca';

}
.card-item:hover .ep-tracker {
    display: flex;
}
.ep-tracker {
    grid-area: status;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: -4.3em;
    font-size: 14px;
}
.ep-on {
    grid-area: status;
    font-weight:20;
    float: left;
    font-family: 'Lexend Deca';
}

#divider {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    font-family: 'Lexend Deca';
}
#ep-total {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    font-family: 'Lexend Deca';
}
.upcount {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 2px 0px 3px;
    display: none;
    background-color:transparent;
    border: none;
    margin-top: -1px;
}
.upcount:hover {
    transform: scale(1.1);
}
/* https://www.youtube.com/watch?v=cwC1qdPWBKo */

.card-item:hover .upcount {
    display:block;
}
.loggedout-navitem {
    display: block;
    margin-left: 3em;
    margin-top: 1.2em;
}
.logged-out {
    display:flex;
    padding-top: 1.3em;
    padding-left: 1em;
    justify-content: space-evenly;
    float: right;
}
.account-access {
    display: flex;
    float: right;
    padding-bottom: 0.4em;
    z-index: 2;
}
.login-form {
    border: solid;
    display: flex;
    padding: 3em 3em 4em 3em;
    margin-left:auto;
    margin-right: auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
    height: 550px;
}

.login-header {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
.login-input {
    margin-bottom: 1em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
#login-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}
#login-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}

.signup-form {
    border: solid;
    display: flex;
    padding: 3em 4em 2em 3em;
    margin-top: -4em;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
}

.signup-header {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

#signup-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}

.signup-input {
    margin-bottom: 1em;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    display:block;
    border-radius: 0.5em;
}
#signup-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}
#passwordHelpBlock {
    font-size: 11px;
    display:block;
    margin-top: -1.1em;
    font-family: 'Poppins', sans-serif;
}
.account {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display:block;
    text-align: center;
}
.alert{
    margin-top: -1.7em;
    z-index: 20;
}
.btn-close{
    float:right;
}
.header-name {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    margin-left: 0.5em;
    float:left;
    text-decoration: none;
    color: #94a2e0;
    transition: 0.7s ease;
    margin-top: .3em;
}
.header-name:hover, focus{
    color: #ea6ecd;
}
#mediaFormNew {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: rgb(15 16 20); 
    border-radius: 10px;
    max-width: 850px;
    flex-direction: column;
}
.add-input {
    margin-bottom: 0em;
    width: 100%;
    padding: 0.75rem 0.75rem;
    display:block;
    border-radius: 5px;
    background-color: #848484;
    border: black;
    font-size: 14px;
}
.add-input::placeholder{
    color: #211f1f;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.add-form-text{
    margin-top: -0.5em;
}
#add_media_button {
    background: #b58dce;
    border: none;
    padding: 0.5em;
    width: 15%;
    border-radius: 6px;
    margin-bottom: 1em;
    font-family: 'Recursive';
    box-shadow: 1px 2px 2px 2px purple;
    font-size: 14px;
    color:black;
    margin-left: 22em;
}
#edit_media_button {
    padding: 0.375rem 0.75rem;
    margin-bottom: 2em;
    width: 11%;
    background-color: #2196F3;
    border-radius: 0.5em;
    margin-top: -1em;
    float: left;
    border: none;
    display: flex;
    color: #252424;
    font-family: 'Recursive', sans-serif;
    justify-content: center;
}
#edit_media_button:hover {
    background: #698499;   
}

#del_acc_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    float:left;
    border:none;
    display: flex;
    justify-content: center;
}
#mediaClose {
    float: right;
    margin-top: -1.5em;
    margin-right: -2em;
}
#mediaClose:focus, #mediaClose:active {
    outline: none !important;
    box-shadow: none;
 }
 .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
    border-color: pink !important;
 }
.addmediaHeader {
    font-family: 'Bungee Shade', sans-serif;
    text-align: center !important;
    margin-bottom: -0.3em;
    color: #cfc4ff;
}
.add_button {
    background-color: transparent;
    border-radius: 75%;
    box-shadow: 0em 0em 1.5em -1em;
    border:none;
}
.add-item {
    cursor: pointer;
    transform: scale(3.4);
    position: fixed;
    bottom: 0;
    margin-bottom: 2em;
    z-index: 2;
    right: 0;
}
.add-item-image {
    background-color: transparent;
    border:none;
    margin-left: -1.5em;
    margin-bottom: 0.2em
}
.add-item-image:hover {
    transform: scale(1.2); 
    transition: all .3s ease-out;
    
}
.add_plus {
    width: 100%;
    color: #f5b4ff;
    font-size: 13px;
    display: block;
}

#accountForm {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    padding: 1em 4em 3em 3em;
    margin: 0 auto;
    background-color: #71758b;
    border-radius: 7px;
    max-width: 1100px;
}
.account-input {
    margin-bottom: 2em;
    width: 100%;
    display: block;
    border-radius: 0.5em;
}
/* account page => profile picture */
.change_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.change_profile_pic {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: block;
    margin-top: 1em;
    margin-left:-1em;
}
.no_media {
    text-align: center;
    margin-top: 3em;
}
#cancel_button {
    float:right;
    margin-top: 0em;
    margin-right: -6em;
}
#cancel_button:focus, #cancel_button:active {
    outline: none !important;
    box-shadow: none;
  
 }
.status_completed {
    color: #68ff00 !important;
}
.status_paused {
    color: #ff76fd !important;
}
.status_planning {
    color: #ffc000 !important;
}
.heart_buttons {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.heart {
    width: 2%;
    grid-area:name;
    background: transparent;
    border:none;
    height: 30%;
    color: #ff889d;
    margin-top: -1px;
    display:none;
    transform: scale(1);
}
.heart:hover {
   transform: scale(1.1);
}
.heart_filled {
    width: 2%;
    grid-area:name;
    background: transparent;
    color: #ff889d;
    height: 30%;
    border: none;
    margin-top: -3px;
    transform: scale(1);
}
.card-item:hover .heart {
    display:inline;
}


#delete_button {
    width: 12%;
    height: 11%;
    background: #ef3a2d;
    border:none;
    float: right;
    margin-top: -2.7em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383434;
    font-family: 'Recursive', sans-serif;
}

#delete_button:focus, #delete_button:active {
    outline: none !important;
    box-shadow: none;
 }

 #delete_button:hover {
    background: #ec7169;   
}

.check_delete {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #5f667d; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 3;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4em;
    scroll-margin: 10em;
    margin-top: 10%;
}

#confirm_check {
   margin-right: 5em;
   border:none;
   background: #e54330b5;
   color: white;
}
#cancel_check {
    background: #dedede;
    border:none;
    margin-top: -4em;
    margin-left: 8em;
    height: 28%;
    color: black;
}
#confirm_check:hover {
    background: red;
    color: white;
    
}
#cancel_check:hover {
    background: #95A5A6;
    
}
#confirm_check:focus, #confirm_check:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_check:focus, #cancel_check:active {
    outline: none !important;
    box-shadow: none;
 }

.check_acc_delete {
    border: solid !important;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff !important; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    display:flex;
    text-align: center;
}

#confirm_acc_delete {
   margin-right: 10em;
   border:none;
   background: #e54330b5;
   color: white;
}
#cancel_delete {
    border:none;
    margin-top: -4em;
    margin-left: 14em;
    height: 10%;
    background: #dedede;
    color: black;
}
#confirm_acc_delete:hover {
    background: red;
    color: white;
    
}
#cancel_delete:hover {
    background: #95A5A6;
    
}
#confirm_acc_delete:focus, #confirm_acc_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_delete:focus, #cancel_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #delete_acc_button {
    float:left;
    margin-top: 0em;
    border-radius: .5em;
 }

.addTagInput {
    width: 15%;
    font-size: 80%;
    border-radius: 50px;
    margin-top: .25em;
    border: 1px solid #fbc6d1;
    margin-right: 0.5em;
    text-align: center;
}
.card-item:hover .addTagInput {
    display:inline;
}

.page_numbers {
    margin-bottom: 1em;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    margin-top: -2em;
    font-size: 20px;
}
#editTagButton {
    background-color: transparent;
    border:none;
    transform: scale(.8);
    color: black;
    float: right;
    display:none;
}

.card-item:hover #editTagButton {
    display:block;
}
#editTagButton:hover {
    transform: scale(.9);
}
#cancelTagButton {
    margin-top: 1em;
    height: 10%;
}
#cancelTagButton:focus, #cancelTagButton:active {
    outline: none !important;
    box-shadow: none;
 }
 #add_new_tag{
    background-color: transparent;
    border: none;
    display: none;
 }
 .card-item:hover #add_new_tag {
    display:inline;
}
#add_new_tag:hover{
    transform: scale(1.2);
}

.plus_tag_button {
    background-color: transparent;
    border:none;
    visibility: hidden;    
    cursor: pointer;
    color: #8181bd;
}

.mediaInfoBackground:hover .plus_tag_button {
    visibility: visible;
}

.bottom_row {
    margin: .5em 1em 0em .5em; 
    display: block;
    font-size: 14px;
}
.cancel_tag_button {
    border:none;
    background: transparent;
    color: #8181bd;
    display:none;
}
.cancel_tag_button.active {
    display:flex;
}
.card-item:hover .cancel_tag_button.active {
    display: flex;   
   
}

.view_more{
    border: none;
    float:left;
    background:transparent;
    position: absolute;
    z-index:3;
    /* margin-bottom: 0; */
}
.see_more {
    display:none; 
    grid-area:image;
}

.mediaTitle {
    text-align: center;
    text-decoration: underline;
    grid-area: title;
    font-family: 'Lexend Deca';
    margin-top: .5em;

}
.view_more {
    display: none;
}
.view_more, focus {
    color: magenta;
    transition: all 0.5s ease-out;
    z-index: 3;
}
.card-item:hover .view_more{
    display: inline;
}
.card-item:hover .see_more {
    display: inline;
}

.pagenum_header {
    text-align: center;
}
.editTop {
    padding:2.5em 2em 3em 2em;
    border-radius: 6px;
}
.editBody {
    border-radius: 23px;
    background-color: #ffa1cf42;
    padding: 4em;
    width:100%;
}
.tagsForm {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.editMediaClass {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3em 4em 2em 3em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}

#tagUl {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
#tagHelpBtn {
    background-color: transparent;
    margin-left: .3em;
    border: none;
    transform: scale(0.5);
}

.tagHeader {
    display:flex;
    position: relative;
    justify-content: center;
}
.tagHeader .tag_text {
    background-color: rgba(0, 0, 0, 0.723);
    color:white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    margin-top: -7.5em;
    margin-left: 5.1em;
    padding: 1em;
    visibility: hidden;
 }
.tagHeader:hover .tag_text {
    visibility: visible;
}
.tagHeader .tag_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#editButton{
    background-color: transparent;
    color:red;
    border:none;
    margin-left: 0.2em;
    margin-top: -3.2em;
    position: absolute;
}
#tag_input{
    width:15%;
    text-align: center;
    font-size: 80%;
}
.hand_wave {
    height: 25px;
    width: 25px;
}
.edit-img {
    object-fit: cover;
    width:100%;
    border-radius: 6px;
}
.editMediaModal .modal-header {
    padding: 0 !important;
}
.editmediaimage {
    height: 356px;
    object-fit: cover;
    width: 104%;
    border-radius: 4px;
    margin-top: -1em;
    object-position: 69% 47%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.editMediaTitle {
    font-family: 'Bungee Shade', cursive;
    margin-bottom: -3px;
    color: #9d8cc2;
    letter-spacing: 4px;
    text-align: center;
}
.editMediaFormText {
    color: #cfc4ff;
}
#search_box_smaller {
    border-radius: 6px;
    height: 3em;
    width: 100%;
    background-color: #c490d4;
    margin-left: -1em;
    font-family: 'Poppins', sans-serif;
    padding-left: 1em;
}
#search_box_smaller::placeholder {
    color: #211f1f;
}

#search_box_smaller:focus {
    outline: none;
}
.hamburger_navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.hamburger_navigation li {
    margin-top: 1em;
}
.hamburger_navigation {
    display: none;
    flex-direction: column;
    transition: 0.3s;
    background: linear-gradient(15deg, #870019 0%, #5900ff 100%);
    border-radius: 1px;
    width: 100%;
    /* box-shadow: 2px 5px 7px 2px; */
    text-align: center;
    left: -100%;
    position: sticky;
    z-index: 2;
}
.hamburger_navigation .nav-item {
    font-size: 17px;
    gap: 1em;
    justify-content: flex-start;
    font-family: 'Poppins';
}

#mode {
    font-family: 'Lexend Deca', 'Bootstrap-icons';  
    display:flex;
}
#mode a {
    color: white;
}

#appearance_dropdown li a {
    font-size: 17px;
}

#appearance_dropdown {
    background:linear-gradient(9deg, #ff9cae 0%, #9257ff 100%);
    border-radius: 9px;
}
#light_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    color:white;
    gap: 1em;
    width: 100%;
    text-align: left;
    margin-left: 1.17em;
    margin-top: .3em;
}

#dark_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    width: 100%;
    gap: 1em;
    margin-left: 1.2em;
    margin-top: .3em;
    color: white;
}
#system_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    width: 100%;
    margin-top: .3em;
    gap: 1em;
    margin-left: 1.2em;
    color: white;
}
#appearance_dropdown li:hover {
    background: #a800ff3b;
    border-radius: 4px;
}
#appearance_dropdown li button:hover a:hover{
    color:white;
}
#dropdown_theme {
    background: linear-gradient(15deg, #ea8295 0%, #b092e7 100%);
}
#dropdown_theme:focus, #dropdown_theme:active {
    outline: none !important;
    box-shadow: none;
 }
 #system_icon {
    font-size: 16px;
 }
 #theme_title {
    color: white !important;
 }
 #search_search {
    display:flex;
    flex-direction: column;
    max-width: 55%;
    font-family: 'Lexend Deca', 'Bootstrap-icons';  
    background: linear-gradient(142deg, #c33a63 0%, #4c0f91 100%);  
    border-radius: 10px;
    box-shadow: 2px 3px 3px #9c27b0;
    margin: 0 auto;   
    z-index: 1;
    position: relative;
 }
#search_search_box {
    width: 75%;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: none;    
    color: rgb(251, 216, 216);
    font-family: 'Lexend Deca';  
    background-color: transparent;
}
#search_search_box:focus, #search_search_box:active{
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}
#search_search.active {
    outline: 1px solid rgb(255 180 180) !important;
}
#search_search_icon {
    background-color: transparent;
    border:none;
    margin-top: .3em;
}
#search_clear_btn {
    border: none;    
    background: transparent;
    margin-top: .23em;
    color: pink;
    z-index: 5;
}
#search_clear {
    background-color:transparent;
    visibility: hidden;
}
#descHelpBlock {
    display: flex;
    gap: 0.2em;
}
#mediaDescHelp {
    display: flex;
    gap: 0.2em;
}
#totalEpHelp {
    font-size: 13px;
}
#currentEpHelp {
    font-size: 13px !important;
}
#currentEpIcon {
    font-size: 13px;
}
.currentEpLabelDiv {
    display:flex;
    align-items: baseline;
    gap: 0.2em;
    color:#cfc4ff;
}
.totalEpLabelDiv {
    display:flex;
    align-items: baseline;
    gap: 0.2em;
    color:#cfc4ff;
}


#nav_search {
    flex-direction: column;
    /* display:none; */
    margin: 0 auto;   
    z-index: 1;
    position: relative;
}
 #input_search {
    background: linear-gradient(142deg, #c33a63 0%, #4c0f91 100%);;  
    border-radius: 6px;
    box-shadow: 2px 3px 3px #9c27b0;
    padding: 0.4em;
    margin-top: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 #exampleModal {
    font-family: 'Lexend Deca', 'Bootstrap-icons', 'Material Icons';  
    margin-top: 4.8em;
 }
.modal-dialog {
    max-width: 65% !important;
}
.modal-content {
    background-color: transparent;
    border: none;
}
.modal_bg {
    background:transparent;
    height: 8em;
    margin-top: -2em;
    border-radius: 3px;
}
#search_box {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: none;        
    color: rgb(251, 216, 216);
    font-family: 'Lexend Deca';
    background: transparent;
}
#search_box:focus, #search_box:active{
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}

#search_box::placeholder {
    color: rgb(251, 216, 216);
}
#nav_search.active {
    outline: 1px solid rgb(255 180 180) !important;
}
#nav_search_icon {
    background: transparent;
    font-family: "Bootstrap-icons";
    border:none;
    margin-top: .1em;
}
#nav_search_clear_btn {
    border: none;    
    background: transparent;
    margin-top: .25em;
    font-family: 'Bootstrap-icons';
    color: pink;
}
#nav_search_clear {
    background-color:transparent;
    visibility: hidden;
}
/* body.search_active > *:not(#nav_search) {
    filter:blur(9px);
} */
#search_button {
    background-color: transparent;
    border:none;
    transform: scale(1.1);
    float:right;
    font-size: 15px;
    font-family: "Bootstrap-icons";
    margin-top: 1.3em;
}
#nav_search_clear_back {
    background: none;
    border:none;
    font-size: 18px;
    margin-top: 0.1em;
}
.arrow_down {
    font-family: 'Material Icons';
    display: block;
    transition: 0.3s ease;
    font-size: 23px;
}
.arrow_down.active {
    transform: rotate(180deg);
    transition: 0.3s ease;
}
.arrows {
    margin-bottom:-0.5em;
}
.arrows.indicator_on {
    margin-left: -2.5em;
}
.search_text {
    text-align: center;
}
.fav-container {
    margin-top: -35px;
    display:grid;
    margin-left: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 7em;
    padding-right: 1em; 
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    border-radius: 15px;
    row-gap: 3em;
}

.fav-item {
    border-radius: 10px;
    margin: 0em 2em -1em 1.5em;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image" "name";   
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 0;
}
.fav-item:hover .see_more {
    display: inline;
}
.fav-item:hover .view_more {
    display: inline;
}
.fav-img-container {
    width: 300px;
    height: 200px;
    grid-area: image;
}
.fav-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 4px black;
}
.fav-item #name {
    font-size: 15px;
    color: white;
    margin-top: 1em;
}
.fav-item .hearts {
    display: flex;
    grid-area:name;
    justify-content: center;
}

.input-group {
    padding: 0.3em;
}
.right_navigation {
    display: flex;
    gap: 2em;
}
.checkoff {
    color: lightgreen;
}
.list_stats {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background: pink;
}
.list_count ul {
    list-style: none;;
}
.data-tilt{
    transform-style: preserve-3d;
}
.addMediaFormHeader {
    border-radius: 12px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
#exampleModalLabel {
    text-align: center;
}
.editMediaModal {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    max-width: 65%;
    background:  rgb(15 16 20) !important;
    margin-top: -1em;
    height: 900px;
}
.labelText {
    font-size: 15px;
    font-family: 'Lexend Deca';

}
.expand_more {
    outline: none;
    background: transparent;
    border:none;
    color: #ffa3d2;
    display: contents;
}
.expand_edit{
    display:none;
    background: transparent;
    border:none;
    color: #cf9d9d;
}
.expand_delete {
    display:none;
    background: transparent;
    border:none;
    color: #cf9d9d;
}
.tag-name:hover .expand_more {
    display: contents;
    cursor: pointer;
}
.expand_more:hover {
    color: #ffa3d2;
}
.expand_more_left::before {
    content: "\e5cb";
    font-family: 'Material Icons'; 
}
.expand_edit:hover {
    color: pink;
}
.expand_delete:hover {
    color:red;
}

.reload_tags {
    display:flex;
    flex-wrap: wrap;
}
.input_tag_name {
    padding: 3px 8px;
    /* display: none ; */
    z-index:3;
    border: 1px solid #fbc6d1;
    border-radius: 50px;
    font-size: 13px;
    grid-area:tag;
    color: #98cfff;
    background:#00000029;
    font-family: 'Lexend Deca';
}
.input_tag_name::placeholder {
    color: #98cfff;
}

.addTagForm {
    cursor: pointer;
    grid-area: tag;
    margin-top: 0.1em;
    margin-bottom: 1em;
}
.tagForm {
    display:none;
    grid-area: tag;
    justify-content: start;
    margin-top: 0.2em;
}
.divtag{
    display: grid;
    grid-area: tag;
}
.modal-content {
    font-family: 'Lexend Deca';
}
.page_dots {
    font-size: 17px;
    margin-top: 10px;
}
#langChart{
    height: 400px;
    width: 920px;
    margin-left:auto;
    margin-right:auto;
   
}
.langChartWrapper {
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1500px;
    padding:50px;
}

.chart-container {
    display:flex;
    justify-content: center;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;

}
.countChartWrapper {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding:50px;
}
#countChart {
    margin-left:auto;
    margin-right:auto;
    height: 375px;
    width: 375px;
    
}
.mediaChartWrapper {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding:50px;
}
#mediaChart {
    margin-left:auto;
    margin-right:auto;
    height: 375px;
    width: 375px;
}
.tagChartWrapper {
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1500px;
    padding:50px;
    
}
#tagChart {
    margin-left:auto;
    margin-right:auto;
    height: 660px;
    width: 930px;
}
.alert_close:focus, .alert_close:active {
    outline: none !important;
    box-shadow: none;
}
.expand_more .material-symbols-outlined {
    font-size: 10px;
    font-weight: 700;
}
.carousel-prev, .carousel-next, .carousel-prev:hover, .carousel-next:hover, .carousel-control-next:focus, 
.carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
    color: #cd6bde;
    font-size: 40px;
}
.release_symbol {
    font-size: 12px;
}

.edit_releaseStatSelect {
    background: #848484;
    color: #211f1f;
    border: black;
    height: 2.9em;
}

#releases-containerA, #releases-containerB, #releases-containerC{
    margin-top: 30px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    overflow: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em; 
    justify-content: start;
    height: 370px;
    border-radius: 15px;
    margin-left: 3em;
    margin-right: 3em;
    
}

.info_release {
    grid-area: lower_row;
    display: flex;
    justify-self: flex-end;
    font-size: 14px;
}
.releases-item {
    padding: 3px;
    flex: 0 0 auto; 
    border-radius: 10px;
    margin: 1em 2em 1em 1em;
    display: grid;
    grid-template-columns: 267px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "release_image release_image " 
    "release_name lower_row";   
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 0;
    position: relative;
    align-items: start;
}
.releases-img-container {
    width: 375px;
    height: 223px;
    grid-area: release_image;
}
.releases-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 4px black;
}
.release_name {
    font-size: 16px;
    font-family: 'Lexend Deca' !important;
}
.release_title {
    display: flex;
    grid-area:release_name;
    justify-content: center;
    font-family: 'Lexend Deca' !important;
    justify-content: flex-start;
    padding-left: 2px;
    padding-right: 12px;

}
.lower_row {
    color: #d8aee8;    
    font-family: 'Lexend Deca';
    display: flex;
    justify-content: space-around;
}
.releasesEdit {
    grid-area: image;
    position: absolute;
    z-index: 1; 

}
.releases_edit_button {
    border: none;
    float:left;
    background:transparent;
    position: absolute;
    z-index:3;
    display: none;
    color: #fd7070;    
}

.releases-item:hover .releases_edit_button {
    display:inline;
}

.releasesTitle {
    display:flex;
    /* justify-content: center; */
    float:left;
    margin-left: 2em;
    font-family: 'Lexend Deca';
    padding-top: 1em;
    margin-bottom:1em;
}
#schedreleasesMoreRight {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: absolute;
    right: 65px !important;
    z-index: 1;
    margin-top: 3.3em;
    float: right;

}
#schedreleasesMoreLeft {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: sticky;
    left: 11px;
    z-index: 1;
}

#currentreleasesMoreRight {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: absolute;
    right: 65px !important;
    z-index: 1;
    margin-top: 3.3em;
    float: right;
}
#currentreleasesMoreLeft {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: sticky;
    left: 11px;
    z-index: 1;
}

#unreleasedMoreRight {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: absolute;
    right: 65px !important;
    z-index: 1;
    margin-top: 3.3em;
    float: right;

}
#unreleasedMoreLeft {
    display: flex;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    position: sticky;
    left: 11px;
    z-index: 1;
}


/* #release_button {
    background: transparent;
    border: none; 
    color:#e400ff;
    display:none;
}
.account-item #release_button{
    animation: shake_bell 2.3s infinite;
}
@keyframes shake_bell {
    0% {
        transform: rotate(-20deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
} */
#releases_dot {
    font-size: 17px;
    margin-bottom: 30px;
    margin-right: 22px;
    color: #bf7bc7;
    display: none;
    font-family: "Bootstrap-icons";
    z-index: 1;
}
#release_updates {
    text-decoration: none !important;
    margin-top: 16px;
    margin-bottom: 7px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #19245f;
    transition: 0.3s ease;
    border:none;
    background-color: transparent;
}
#releases_panel {
    background:transparent;
    border: none;
}

#release_updates:active {
    background-color:transparent;
    transform: scale(0.95) !important;

}
.offcanvas-start {
    width: 550px;
    
}
.offcanvas {
    background-color:rgb(161 76 223);
    font-family: 'Lexend Deca';
}
#offcanvas_exit {
    padding-right: 4em;
}
#offcanvas_exit:focus, #offcanvas_exit:active{
    outline: none;
    box-shadow: none;
}
.updates-item {
    padding: 1px;
    border-radius: 10px;
    border: 1px solid #d6c5f2;
    margin: 1em 3em 3em 4em;
    display: flex;
    justify-content: flex-start;
    background: #c8adff;
    align-items: flex-start;
    align-content: space-between;

}

#update_read {
    background: #b58dce;
    border: none;
    padding: 0.5em;
    width: 25%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-family: 'Poppins';
    box-shadow: 2px 1px 1px 1px purple;
}

#update_read:active {
    background:#872cbf;
    transform: scale(0.94);
}
#offcanvasWithBothOptionsLabel {
    margin-left:auto;
    margin-right: .3em;
}

.carousel {
    margin-top: -1.4em;
}
#updates_icon {
    display:none;
}
#searchresults_div {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto auto auto; */
    width: 1200px;
    margin-left: -5em;
    background-color: transparent;
    border-radius: 6px;
    padding: 1em;
    visibility: hidden;
}

#search_results {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 6px;
    margin-right: 1.3em;
    margin-left: 1.3em;
    visibility: hidden;
    justify-content: start;
    width: 100%;

}
article {
    display: grid;
    grid-template-columns: 100px 216px;
    grid-template-rows: 22px 18px 96px;
    grid-template-areas:
        "image title "
        ". year"
        ". button";
    font-family: 'Lexend Deca';
    padding-bottom: 1em;

    
}
article h5 {
    grid-area: title;
    text-overflow: ellipsis;
    margin-bottom: 0em;
    font-size: 14px !important;
    margin-top: 0.1em;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2em;
    width: 100%;
}

article img {
    grid-area: image;
    width: 100px;
    height: 140px;
    border-radius: 6px;
    margin-top: 1px;
}
article button {
    grid-area: button;
    background-color: #ffabbd;
    border: 1px solid black;
    margin-top: 6.7em;
    border-radius: 5px;
    display: none;
    justify-content: center;
    margin-left: 10px;
}
article:hover button {
    display: flex;
}
article span {
    grid-area: year;
    font-size: 12px;
    margin-top: 1.9em;
    margin-left: 10px;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#tv_results {
    padding: 1em;
    display: none;
    background-color: rgb(15 16 20);
    border-radius: 6px;
    flex-wrap: wrap;
    flex-direction: row;
    color:#afa7a8;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    margin-left: 8.8em;
    margin-right: 8.8em;
}
#movie_results {
    padding: 1em;
    display: none;
    background-color: rgb(15 16 20);
    border-radius: 6px;
    flex-wrap: wrap;
    color:#afa7a8;
    justify-content: space-between !important;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    margin-left: 8.8em;
    margin-right: 8.8em;
} 
#anime_results {
    padding: 1em;
    display: none;
    background-color: rgb(15 16 20);
    border-radius: 6px;
    flex-wrap: wrap;
    flex-direction: row;
    color: #afa7a8;
    justify-content: space-between !important;
    grid-template-columns: auto auto auto;
    margin-left: 8.8em;
    margin-right: 8.8em;
}
#search_media {
    margin-left: auto;
    width: 70%;
    margin-right: auto;
    margin-top: 3em;
}

.div_title {
    color: #d3a4a4;
    font-family: 'Recursive', sans-serif;
    margin-left: 5em;
    margin-top: 1em;
}
#tv_title {
    display: none;
}
#movie_title {
    display: none;
}
#anime_title {
    display: none;
}

.mediaInfoBackground {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
}
.mediaInfoDiv {
    max-width: 65%;
    background:  rgb(15 16 20) !important;
    margin: 0 auto;
}
.mediaInfoImage {
    object-fit: cover;
    width: 100%;
}
.mediaInfoImageParentDiv {
    width: 100%;
    max-height: 450px;
    border-radius: 6px;
    object-fit: cover;
    object-position: 50% 30%;
    margin-left: auto;
    margin-right: auto;   
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.mediaInfoTitle {
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 13px;
    grid-area: media_title;
    color: #e0c8f8;
    padding-top: 10px;
    letter-spacing: 4px;
}
.mediaInfoDescription {
    width: 95%;
    font-size: 12px;
    color: #8f94bc;
    margin-left: 3px;
    grid-area: media_description
}
.mediaInfoGenreTitle {
    color: #adb2d8;
    margin-left: 3px;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
}
.mediaInfoTopGrid {
    display: grid;
    grid-template-columns: 50px 90px 140px auto;
    grid-template-areas:
    "release_date media_eps media_status media_rating";
    margin-left: 4px;
    color: #a0a0a0;
}
.mediaInfoTopGrid p {
    font-size: 13px;
}
.mediaInfoReleaseDate {
    grid-area: release_date;
}
.mediaInfoEpisodes {
    grid-area: media_eps;
}
.mediaInfoRating {
    grid-area: media_rating;
}
.mediaInfoLanguage {
    margin-left: 5px;
    font-size: 13px;
    color: #5e5a5a;
}
.mediaInfoStatus {
    grid-area: media_status;
}
.modal-header {
    padding: 0rem !important;
}
.mediaInfoTitleGrid {
    display: grid;
    grid-template-areas: "media_title media_edit";
    grid-template-columns: auto 33px;
    justify-content: start;
    align-items: center;
}
.mediaInfoEdit {
    grid-area: media_edit;
    border: none;
    display: none;
    background-color: #857599;
    color: black;
    width: 17px;
    height: 16px;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: -7px;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}

.mediaInfoBackground:hover .mediaInfoEdit {
    display: flex;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    background-color: #848484;
    border: black;
    color: #211f1f;
}
.edit_description {
    background-color: #848484;
    border: black;
}
.edit_description::placeholder {
    color: #211f1f !important;
}
.favButton {
    border: 1px solid #fbc6fb;
    background-color: transparent;
    margin-bottom: 1em;
    border-radius: 4px;
    color: #fbc6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
}
.heartButton {
    display: flex;
    width: 10px;
    height: 19px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 11px;
}
.unfavButton {
    border: 1px solid pink;
    background-color: #fbc6fb;
    margin-bottom: 1em;
    border-radius: 4px;
    color: #2b2727;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;

}
.heartedButton {
    display: flex;
    width: 10px;
    height: 19px;
    align-items: center;
    margin-left: 4px;
    justify-content: center;
    font-size: 11px;
    color: #9676bb;
    margin-top: 1px;

}
.fav_count {
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color: #a08fbc;
    justify-content: center;
    padding-left: 1.5em;
    margin-top: -2em;
}
#add_term {
    height: 50px !important;
    background: #ceb9d3;
    font-family: 'Recursive', sans-serif;
}
#search_new {
    background: #c090cb;
}
.addtoList {
    font-family: 'Recursive';
    width: 75px;
    height: 19px;
    font-size: 11px;
}
.search-title {
    font-family: 'Bungee Spice', cursive;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    padding-left: .5em;
}
.title_row {
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    justify-content: space-between;
}
.updates_header {
    font-family: 'Rampart One';
    color: black;
    font-size: 27px;
    letter-spacing: 2px;
}
.imgparentdiv {
    width: 142px;
    height: 76px;
    grid-area: update-image;
    
}
.update_image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.updates_grid {
    display: grid;
    grid-template-columns: 144px;
    align-items: center;
    grid-template-areas: "update-image . update-title";
}
.update_title {
    grid-area: update-title;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    padding-top: 13px;
    font-size: 14px;
    padding-right: 5px;
    line-height: 25px;
    padding-left: 5px;

}
.canvasTitle {
    font-family: "Bungee Shade";
    font-size: 40px !important;
    letter-spacing: 13px;
}
#currentlyReleasing {
    margin-top: -2em;
}
.page-header, .page-title {
    font-family: 'Bungee Shade', cursive;
    padding-top: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 1em;
}
.carousel-img {
    cursor: pointer;
}
.hr-modal {
    color: #c16bff;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.searchaddmediafooter {
    margin-right: 12em !important;
}
#media_button {
    background: #b58dce;
    border: none;
    padding: 0.5em;
    width: 15%;
    border-radius: 6px;
    margin-bottom: 1em;
    font-family: 'Recursive';
    box-shadow: 2px 2px 1px 2px purple;
    font-size: 14px;
}
.addmediaTitles {
    font-family: "Chakra Petch";
    color: #cfc4ff;
}
#addReleaseDateDiv {
    display: none;
    flex-direction: column;
    margin-top: -1em;
}
#addReleaseWeeklyDiv {
    display: none;
}
#addReleaseDate {
    background-color: #848484;
    border-radius: 6px;
    padding: 1em 0.75em 1em 0.75em;
    color: #211f1f;
    margin-top: -8px;
}
#addReleaseDateLabel {
    color:#cfc4ff;
}
.editReleaseDateDiv {
    display: none;
    flex-direction: column;
    margin-top: -1em;
}
.editReleaseWeeklyDiv {
    display: none;
}
.editReleaseDate {
    background-color: #848484;
    border-radius: 6px;
    padding: 1em 0.75em 1em 0.75em;
    color: #211f1f;
    margin-top: -8px;
}
.editReleaseDateLabel {
    color:#cfc4ff;
}