@media screen and (min-width:320px) and (max-width:374px) {
    .nav {
        justify-content: space-between;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -4.5em;
        width: 145px;
    }
    .carousel-item {
        height: 180px;
    }
    .hamburger {
        display: block; 
        position:relative;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .card-item {
        grid-template-columns: 275px;
    }
    .card-img-container {
        width: 275px;
        height: 150px;
    }
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-nav {
        gap: 0em;
    }
    .search { 
        display: none;
    }
    
}
@media screen and (min-width:375px) and (max-width:424px) {
    .account-access {
        margin-top: -4em;
        margin-left: 200%;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -4.5em;
        width: 145px;
    }
    .carousel-item {
        height: 180px;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .card-item {
        grid-template-columns: 275px;
    }
    .card-img-container {
        width: 275px;
        height: 150px;
    }
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-nav {
        gap: 0em;
    }
    .search { 
        display: none;
    }

}
@media screen and (min-width:425px) and (width:766px) {
    .account-access {
        margin-top: -4em;
        margin-left: 230%;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -4.5em;
        width: 145px;
    }
    .carousel-item {
        height: 240px;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .card-container {
        grid-template-columns: auto;
    }
    .card-item {
        grid-template-columns: 375px;
    }
    .card-img-container {
        width: 375px;
        height: 250px;
    }
    .site-name {
        margin-left: 0em;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-nav {
        gap: 0em;
    }
    .search { 
        display: none;
    }
}
@media screen and (min-width:768px) and (width:1023px) { 
    .card-container {
        grid-template-columns: auto;
    }
    .nav {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .login-nav {
        margin-top: 4.8em;
        margin-left: -4.5em;
        width: 145px;
    }
    .carousel-item {
        height: 435px;
    }
    .hamburger {
        display: block; 
        position:relative;
        margin-left: -175%;
        margin-top: -1em;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;  
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation {
        display:flex; 
        margin-top: 1.9em;
        float: left;
        margin-left: -60%;
    } 
    .nav-ul {
        display: none;
    }
    .search {
        display: none;
    }
    .account-access {
        margin-top: -3.5em;
        margin-left: 375%;
    } 
} 
@media screen and (min-width: 1024px) and (max-width:1339px) {
    .card-container {
        grid-template-columns: auto auto;
    }
    .card-item {
        grid-template-columns: 425px;
    }
    .card-img-container {
        width: 425px;
        height: 300px;
    }
    .nav {
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #search_box {
        border-radius: 6px;
        margin-left: 4em;
        display: none;
        height: 1.8em;
        width: 10em;
    } 
     .right-nav {
        gap: 0.5em;
    } 
    .nav-item {
        gap: 1.4em;
    } 
} 

@media screen and (min-width: 1440px) and (max-width:1919px) {
    .card-item {
        grid-template-columns: 390px;
    }
    .card-img-container {
        width: 390px;
        height: 240px;
    }
}

@media screen and (min-width: 1920px)  {
    .card-item {
        grid-template-columns: 500px;
    }
    .card-img-container {
        width: 500px;
        height: 300px;
    }
}





/* @media screen and (min-width: 320px) and (max-width: 425px){
    #addmediaForm {
        inline-size: 300px !important;
    }
    #add_media_button {
        width: 30%;
    }
    #editTagsDiv {
        margin-right: 5em;
    }
    #editmediaForm {
        margin-left: 0em;
        inline-size: 323px;
    }
    #delete_button {
        width:34%;
    } */
    /* #editTagsDiv {
        inline-size: 317px;
        margin-top: 1em;
        margin-right: 0em;
    } */
    /* .logged-out {
        display: flex;
        padding: 0em !important;
        gap: 1em  !important;
        margin-top: -3em;
        margin-left: 65%;
    }
    .login-nav.active {
        display: flex; 
        position:absolute;
        margin-top: 16em;
    }
    .navigation {
        display:flex;
        align-items: center;
        margin-right:90%;
        margin-top: 1em;
    }
    .nav-ul {
        flex-direction: column;
        transition: 0.3s;
        background: linear-gradient(15deg,#5900ff 0%, #e94462 100%);
        display: none;
        border-radius: 7px;
        margin-top: 4em;
        width: 95%;
        box-shadow: 2px 5px 7px 2px;
        text-align: center;
        left: -100%;
        
    }
    .nav-item {
        padding: 0em 0.3em 1.5em 0em;
        gap: 0em !important;
        display: inline-block;
        
    }
    .nav-ul.active {
        position:absolute;
        display: block;
        left: 2%;

    }
    .page-title {
        margin-top: 3em;
    }
    .hamburger {
        display: block; 
        position:relative;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
       
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .carousel-item {
        overflow:hidden;
        width: 100%;
        height: 250px;
        margin-top: 1em;
    }
    .nav {
        display: flex;
        justify-content: center;
    }
    .site-name {
        text-align: center;
        font-size: 71px;
    }
    .nav-menu {
        display:flex;
        margin-top: 2em;
        margin-right: auto;
    }

    .account-access {
        display:flex;
        align-items: center;
        margin-left: 80%;
        margin-top: -4em;
    }
    .card-item {
        margin: 1em 3em 1em 4em;
        grid-template-columns: 280px;
    }
    .card-container {
        grid-template-columns: auto ;
    }
    
    .card-item {
        margin: 1em 0em 1em 0em;
        grid-template-columns: 300px;
    } 
    .page_numbers {
        margin-left: 41.5%;
    }
  
    .add-item {
        cursor: pointer;
        margin-left: 86%;
    }
    .edit_button {
        margin-left: 88%;
    }
    #heart {
        margin-left: 0em;
    }
    #heart_filled {
        margin-left: 0em;
    }
    .card-item:hover #heart {
        margin-left: 0em;
    }
    .card-item:hover #heart_filled {
        margin-left: 0em;
    } 
  
} */
/* @media screen and (max-width: 767px) and (min-width: 620px){
    .nav-ul.active {
        margin-top: 9em;
        z-index: 2;
    } 
    #addmediaForm {
        inline-size: 500px !important;
    }
}
@media screen and (max-width: 619px) and (min-width: 426px){
    .nav-ul.active {
        margin-top: 3em;
        z-index: 2;
    } 
    #add_media_button  {
        width: 30%;
    }
    #editTagsDiv {
        inline-size: 453px;
        margin-top: 1em;
        margin-left: 0em;
        margin-right: 1em;
    }   
} */
 /* @media screen and (max-width: 767px) and (min-width: 426px){
    .logged-out {
        display: flex;
        padding: 0em !important;
        gap: 1em  !important;
        margin-top: -3em;
        margin-left: 65%;
    }
    .login-nav.active {
        display: flex; 
        position:absolute;
        margin-top: 17em;
    }
    .navigation {
        display:flex;
        align-items: center;
        margin-right:90%;
        margin-top: 1em;
    }
    .nav-ul {
        flex-direction: column;
        transition: 0.3s;
        background: linear-gradient(15deg,#5900ff 0%, #e94462 100%);
        display: none;
        border-radius: 7px;
        margin-top: 4em;
        width: 95%;
        box-shadow: 2px 5px 7px 2px;
        text-align: center;
        left: -100%;
        
    }
    .nav-item {
        padding: 0em 0.3em 1.5em 0em;
        gap: 0em !important;
        display: inline-block;
        
    }
    .nav-ul.active {
        position:absolute;
        display: block;
        left: 2%;

    }
    .page-title {
        margin-top: 3em;
    }
    .hamburger {
        display: block; 
        position:relative;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
       
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .carousel-item {
        overflow:hidden;
        width: 100%;
        height: 250px;
        margin-top: 1em;
    }
    .nav {
        display: flex;
        justify-content: center;
    }
    .site-name {
        text-align: center;
        font-size: 71px;
    }
    .nav-menu {
        display:flex;
        margin-top: 2em;
        margin-right: auto;
    }

    .account-access {
        display:flex;
        align-items: center;
        margin-left: 80%;
        margin-top: -14em !important;
    }

    .card-item {
        grid-template-columns: 430px;
    }
    .add-item {
        margin-left: 85%;
    }
    .card-container {
        grid-template-columns: auto;
    }
    #heart {
        margin-left: 0em;
    }
    #heart_filled {
        margin-left: 0em;
    }
    .card-item:hover #heart {
        margin-left: 0em;
    }
    .card-item:hover #heart_filled {
        margin-left: 0em;
    }
    #editmediaForm {
        inline-size: 378px;
    }
    #delete_button {
        width:30%;
    }
    /* #editTagsDiv {
        inline-size: 378px;
        margin-top: 1em;
    } */
    /* #add_media_button  {
        width: 30%;
    }
    #editmediaForm {
        inline-size: 452px;
    } 
    #cancel_button {
        margin-right: -1em;
        margin-top: -1em;
    }  */
    /* #dark_mode {
        margin-left: -29em;
    } */
    /* .search {
        margin-top: 2.2em;
        margin-left: 13em;
    } */
/* } */
/*  */
/* @media screen and (width: 1920px) {
    .card-item { 
        margin: 1em 3em 1em 4em;
        grid-template-columns: 500px;
    }
    #editmediaForm {
        margin-left: 29%;
    }
    #editTagsDiv {
        margin-right: 7em;
    }
}
@media screen and (max-width: 1810px) and (min-width: 1693px){
    .card-item {
        grid-template-columns: 460px;
    }
}
@media screen and (max-width: 1692px) and (min-width: 1530px){
    .card-item {
        grid-template-columns: 400px;
    }
}
@media screen and (max-width: 1529px) and (min-width: 1441px){
    .card-item {
        grid-template-columns: 370px;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1350px){
    .card-item {
        grid-template-columns: 350px;
    }
    .heart_filled {
        margin-left: 0.3em;
    }
    .card-item:hover .heart {
        display: inline;
        margin-left: 0.3em;
    }
    .card-item:hover .heart_filled {
        display: inline;
        margin-left: 0.3em;
    }
    .card-item:hover .edit_button {
        margin-left: -0.5em;
    }
    .card-item:hover .editButtonB {
        margin-left: 20em;
    }
}

@media screen and (max-width: 1349px) and (min-width: 1262px){
    .card-item {
        margin: 1em 3em 1em 2em;
        grid-template-columns: 339px;
    }
    .heart_filled {
        margin-left: 0em;
    }
    .card-item:hover .heart {
        display: inline;
        margin-left: 0em;
    }
    .card-item:hover .heart_filled {
        display: inline;
        margin-left: 0em;
    }
    .card-item:hover .edit_button {
        margin-left: -0.5em;
    }
    .card-item:hover .editButtonB {
        margin-left: 19.5em;
    }
    .add-item {
        margin-left: 96%;
    }
}
@media screen and (max-width: 1261px) and (min-width: 1123px){
    .card-item {
        grid-template-columns: 450px;
    }
    .card-container {
        grid-gap: 2em;
        grid-template-columns: auto auto;
    }
    .nav {
        justify-content: center;
    } */
    /* .search {
        margin-top: 7.2em;
    }
    #dark_mode {
        margin-top: 5em;
        margin-left: -49em;
    }
    
    .account-access {
        float: none;
        margin-right: 3em;
    }
    .search {
        margin-left: 4em;
    } */
    /* .nav-ul {
        margin-top: -1.5em;
        margin-left: 9em;
    }
    .account-access {
        display: flex;
        float: none;
        margin-left: 26em;
    }
}
@media screen and (max-width: 1122px) and (min-width: 1040px) {
    .nav-ul {
        display:flex;
        width: 100%;
        justify-content:center;
    }
    .hamburger {
        display:none;
    }

    .carousel-item {
        overflow:hidden;
        width: 100%;
        height: 500px;
    }
    .login-nav.active {
        z-index: 2;
    }
    .nav {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .card-container {
        grid-gap: 2em;
        grid-template-columns: auto auto;
    }
    
    .card-item {
        grid-template-columns: 410px;
    }
    .add-item {
        margin-left: 93%;
    }
    .edit_button {
        margin-left: 88%;
    }
    #heart {
        margin-left: 0em;
    }
    #heart_filled {
        margin-left: 0em;
    }
    .card-item:hover #heart {
        margin-left: 0em;
    }
    .card-item:hover #heart_filled {
        margin-left: 0em;
    }
} */
/* @media screen and (max-width: 1039px) and (min-width: 950px) {
    .card-item { 
        margin: 1em 3em 1em 4em;
        grid-template-columns: 370px;
    }
    .card-container {
        grid-gap: 2em;
        grid-template-columns: auto auto;
    }
    .nav {
        justify-content: space-evenly;
    }
    .add-item {
        margin-left: 93%;
    }
    .heart_filled {
        margin-left: 0em;
    }
    .card-item:hover .heart {
        display: inline;
        margin-left: 0em;
    }
    .card-item:hover .heart_filled {
        display: inline;
        margin-left: 0em;
    }
    .card-item:hover .edit_button {
        margin-left: -0.5em;
    }
    .card-item:hover .editButtonB {
        margin-left: 21em;
    }
    .add-item {
        margin-left: 96%;
    }
} */

/* @media screen and (max-width: 622px) and (min-width: 500px) {
    .search {
        margin-left: 20em;
    }
    #dark_mode {
        margin-left: -35.4em;
    }
} */
/* @media screen and (max-width: 949px) and (min-width: 768px) {
    .card-item { 
        margin: 1em 3em 1em 4em;
        grid-template-columns: 500px;
    }
    .card-container {
        grid-gap: 2em;
        grid-template-columns: auto;
    }
    .nav {
        justify-content: space-evenly;
    }
    .add-item {
        margin-left: 93%;
    }
    #editTagsDiv {
        margin-right: 15em;
        margin-top: 1em;
    }
    .search {
        margin-left: -7em !important;
    }
    .nav-menu {
        margin-left: -6em;
    }
    .right-nav {
        gap: 7.5em !important;
    }
} */
