body {
    background-color: #ffeaee;
    margin: -2em 0 0 0em;
    padding-bottom: 800px;
    
}
/* navigation bar css */
.nav {
    height: auto;
    display:flex;
    font-family: 'Lexend Deca';
    /* justify-content: space-evenly; */
    justify-content: space-between;
    background: linear-gradient(15deg, #e94462 0%, #5900ff 100%);
    box-shadow: 0px 1px 1px 1px;
    padding: 2.5em 1em 1em 1em;
}
.nav-ul {
    list-style: none;
    display: flex;
    padding: 2.3em 0em 0em 0em;
    
} 
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    text-decoration: none !important;
    transition: 0.7s ease;
    color: #00d4ff;
}
.nav a.active{
    background-color: transparent;
    color: rgb(170, 93, 226);
}
.nav a:before {
    display:block;
    content: "";
}

.nav a:hover::before{
    width:100%;
}
.nav-item:hover {
    color:#ff00c7;
}

/* account access CSS for logout, login, etc. */
.account-item {
    text-decoration: none !important; 
    margin: 16px 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #2900ff;
}

.account-item:hover {
    color:#ff00c7;
    display: block;
    background-color: #d18fe134;
}
.user-welcome {
    text-decoration: none !important;
    color: #2900ff; 
    margin: 16px 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.user-welcome:hover {
    background-color: none;
    color:#ff00c7;
    display: block;
}
/* account access stuff for dropdown of profile pic */

.login-nav {
    display: none;
    list-style: none;
    background-color:  #f5d5e0; 
    transition: 0.5s ease;
    margin-top: 7.5em;
    text-align: center; 
    border: solid #f5d5e0;
    flex-direction: column; 
    margin-left: -2em;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(47, 47, 47);
    z-index:1;

}

.login-nav.active {
    display: flex; 
    position:absolute;
}

/* carousel images */
.carousel-img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-item {
    overflow:hidden;
    width: 100%;
    height: 750px;
}

.profile-pic {
    border-radius: 50%;
    width: 75px;
    display:flex;
    justify-content: space-between;
}

.profile-button {
    background: transparent;
    border: none; 
    padding: 1em 0em 0em 0em;
    align-items: flex-end;
    display: flex;
    position:relative;

}
.site-name {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    float:left;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}

.site-name:hover, focus{
    color:#e54ed0;
}

.page-title {
    font-family: 'Poppins', sans-serif;
    padding: 2em;
    text-align: center;
}
.page-header {
    font-family: 'Poppins', sans-serif;
    padding: 4em 2em 0em 2em;
    text-align: center;
}
/* hamburger menu  */
.hamburger {
    cursor:pointer;
    display:none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.card-container {
    max-width: 600px;
    margin-top: 30px;
    display:grid;
    margin-left: auto;
    margin-right: auto; 
    grid-gap: 2em;
    grid-template-columns: auto auto auto;
    max-height:300px;
    column-gap: 2em;
    justify-content: center;
}

.card-item {
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #d6c5f2;
    margin: 1em 3em 1em 4em;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    grid-template-areas: "image" "tag" "name" "status" ;    
    transition: 0.5s ease;
    cursor: pointer;
}

#edit_button {
    grid-area: image;
    width: 8%;
    z-index: 3;
    margin-left: 92%;
    margin-top: 0em;
    height: 13%;
    background-color: transparent;
    border: transparent;
    display:none;
}
#edit_button:hover {
    transform: scale(1.4);
}
#edit_button:focus, #edit_button:active {
    outline: none !important;
    box-shadow: none;
 }


.card-image {
    width: 100%;
    grid-area: image;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
}
.tag {
    padding: 5px;
    float: left;
    grid-area: tag;
    float:left;
}
.tag-name {
    padding: 1px 8px;
    display: inline-block;
    border: 1px solid #fbc6d1;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#name  {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    float:left;
    padding: 35px 1px 1px 8px;
    text-decoration: underline;
    grid-area: name;

}

#status{
    padding: 20px 11px 1px 0px;
    color:rgb(105, 161, 229);
    grid-area: status;
    margin-top:auto;
    display:flex;
    justify-content: end;
}

.ep-tracker {
    grid-area: status;
    padding: 20px 0px 1px 14px;
}
#ep-on {
    grid-area: status;
    font-weight:20;
    float: left;
}

#divider {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
}
#ep-total {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
}
#upcount {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 2px 0px 3px;
    display: none;
}
/* https://www.youtube.com/watch?v=cwC1qdPWBKo */
.card-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgb(47, 47, 47); 
}
.card-item:hover #upcount {
    display:block;
}
.card-item:hover #edit_button {
    display:block;
}

@media screen and (max-width: 767px){
    .logged-out {
        display: flex;
        padding: 0em !important;
        gap: 1em  !important;
        margin-top: -3em;
        margin-left: 65%;
    }
    .login-nav.active {
        display: flex; 
        position:absolute;
        margin-top: 16em;
    }
    .navigation {
        display:flex;
        align-items: center;
        margin-right:90%;
        margin-top: 1em;
    }
    .nav-ul {
        flex-direction: column;
        transition: 0.3s;
        background: linear-gradient(15deg,#5900ff 0%, #e94462 100%);
        display: none;
        border-radius: 7px;
        margin-top: 4em;
        width: 95%;
        box-shadow: 2px 5px 7px 2px;
        text-align: center;
        left: -100%;
        
    }
    .nav-item {
        padding: 0em 0.3em 1.5em 0em;
        gap: 0em !important;
        display: inline-block;
        
    }
    .nav-ul.active {
        position:absolute;
        display: block;
        left: 2%;

    }
    .page-title {
        margin-top: 3em;
    }
    .hamburger {
        display: block; 
        position:relative;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
       
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .carousel-item {
        overflow:hidden;
        width: 100%;
        height: 250px;
        margin-top: 1em;
    }
    .nav {
        display: flex;
        justify-content: center;
    }
    .site-name {
        text-align: center;
        font-size: 71px;
    }
    .nav-menu {
        display:flex;
        margin-top: 2em;
        margin-right: auto;
    }
    #card-container {
        max-width: 400px;
        margin-top: 40px;
        display:inline-flexbox;
        margin-left: auto;
        margin-right: auto;
    }
    .account-access {
        display:flex;
        align-items: center;
        margin-left: 80%;
        margin-top: -4em;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
    .nav-ul {
        display:flex;
        width: 100%;
        justify-content:center;
    }
    .hamburger {
        display:none;
    }

    .carousel-item {
        overflow:hidden;
        width: 100%;
        height: 500px;
    }
    /* .profile-button {
        border-radius: 50%;
        width: 75px;
        display: flex;
        justify-content: space-between;
    } */
    .nav-item {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 0em;
    }
    .site-name {
        margin: 0 auto;
    }
    .navigation {
        display:flex;
        
    }
    .nav {
        display:flex;
    }
}

#user-welcome {
    font-family: "Poppins", sans-serif;
}
#acc-item-login {
    color: #00d4ff;
}
#acc-item-signup {
    color: #00d4ff;
    flex-wrap:wrap;
}
.logged-out {
    display:flex;
    padding: 1.3em 0em 0em 1em;
    justify-content: space-evenly;
    gap: 3em;
    float: right;
}

.account-access {
    display: flex;
    float: right;
}

.login-form {
    outline-style: solid;
    display: table;
    padding: 4em 6em 6em 5em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
}

.login-header {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1.5em;
}

#login-input {
    margin-bottom: 3em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
#login-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
    
}

#login-button {
    display:block;
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 30%;
    background-color: #ffc1ef;
    border-radius: 0.5em;
    
}

.signup-form {
    outline-style: solid;
    display: table;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 550px;
    overflow-wrap: break-word;
}

.signup-header {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

#signup-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}

#signup-input {
    margin-bottom: 3em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
#signup-button {
    display:block;
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 20%;
    background-color: #ffc1ef;
    border-radius: 0.5em;
}
#passwordHelpBlock {
    font-size: 13px;
    display:block;
    margin-top: -2.5em;
    margin-bottom: 2em;
    font-family: 'Poppins', sans-serif;
}
.account {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.alert{
    margin-top: -2em;
}
.btn-close{
    float:right;
}
.header-name {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}
.header-name:hover, focus{
    color:#e54ed0;
}

#addmediaForm {
    outline-style: solid;
    display: none;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 5;
    transition: 0.7s ease;
}
#add-input {
    margin-bottom: 0em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
#add-form-text{
    margin-top: 2em;
}
#add_media_button {
    display:flex;
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 30%;
    background-color: #ffc1ef;
    border-radius: 0.5em;
    margin-top: 1em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#mediaClose {
    float: right;
    margin-top: -1.5em;
    margin-right: -2em;
}
body.active > *:not(#addmediaForm) {
    filter:blur(4px);
    /* display:block; */
}
.addmediaHeader {
    font-family: 'Poppins', sans-serif;
    text-align: center !important;
    margin-top: 0em;
    margin-bottom: -.3em;
 
}
.add_button {
    background-color: transparent;
    border-radius: 75%;
    box-shadow: 0em 0em 1.5em -1em;
}
.add-item {
    cursor: pointer;
    margin-left: 95%;
    border-radius: 75%;
    background-color: white;
    transform: scale(.6);
    position:fixed;
    bottom: 0;
}

.add-item-image {
    width: 75px;    
}
.add-item:hover {
    transform: scale(.7);
}
#accountForm {
    outline-style: solid;
    display: table;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 750px;
    overflow-wrap: break-word;
}
.change_profile_pic {
    border-radius: 50%;
    width: 75px;
    display: block;
    float: right;
    margin-top: -1em;
}

.no_media {
    text-align: center;
    margin-top: 3em;
}
#editmediaForm {
    outline-style: solid;
    display: table;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
}
#cancel_button {
    float:right;
    margin-top: -1em;
}
.status_completed {
    color: #8FC26C !important;
}
.status_paused {
    color: #E36464 !important;
}
.status_planning {
    color: #E3B564 !important;
}
#heart {
    width: 10%;
    grid-area:name;
    margin-top: 2.55em;
    margin-left: -.5em;
    background: transparent;
    border:none;
    height: 30%;
    color: red;
    display:none;
}
#heart:hover {
   transform: scale(1.2);
}

#heart_filled {
    width: 10%;
    grid-area:name;
    margin-top: 2.55em;
    margin-left: -0.5em;
    background: transparent;
    border:none;
    height: 20%;
    color: red;
    display:none;
}

.card-item:hover #heart {
    display:inline;
}
.card-item:hover #heart_filled {
    margin-top: 2.55em;
    margin-left: -3.4em;
}

#delete_button {
    width: 15%;
    height: 11%;
    background:gray;
    border:none;
}
#delete_button:focus, #delete_button:active {
    outline: none !important;
    box-shadow: none;
 }

 #delete_button:hover {
    background: #E85F5F;   
}

.check_delete {
    outline-style: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 3;
    text-align: center;
    margin-top: 0%;
    display:none;
    margin-bottom: 4em;
}
/* editMedia.active > *:not(.check_detele) {
    filter:blur(4px);
    /* display:block; */
 
#confirm_check {
   margin-right: 10em;
   border:none;
   background: #50BFF3 ;
}
#cancel_check {
    /* background:gray; */
    border:none;
    margin-top: -4em;
    margin-left: 10em;
    height: 10%
}
#confirm_check:hover {
    transform: scale(1.1);
    background: #80CDF1 ;
    
}
#cancel_check:hover {
    transform: scale(1.1);
    background: #95A5A6;
    
}
#confirm_check:focus, #confirm_check:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_check:focus, #cancel_check:active {
    outline: none !important;
    box-shadow: none;
 }