/* navigation bar css */
.nav {
    height: auto;
    display:flex;
    font-family: 'Lexend Deca';
    justify-content: space-evenly;
    background: linear-gradient(15deg, #e94462 0%, #5900ff 100%);
    box-shadow: 0px 1px 1px 1px;
    padding-top: 2em;
    padding-bottom: .5em;
    margin-top: -3em;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7em;
}
.nav-ul {
    list-style: none;
    display: flex;
    margin-top: 2.1em;
    
} 
.nav-item {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-left: 10em;
    text-decoration: none !important;
    transition: 0.7s ease;
    color: #00d4ff;
    font-size: 14px;
}
.nav a.active{
    background-color: transparent;
    color: rgb(170, 93, 226);
}
.nav a:before {
    display:flex;
    content: "";
}

.nav a:hover::before{
    width:100%;
}
.nav-item:hover {
    color:#ff99d3;
}

/* account access CSS for logout, login, etc. */
.account-item {
    text-decoration: none !important; 
    margin: 16px 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #2900ff;
    transition: 0.3s ease;
}
.account-item:hover {
    color:#ffd0eb;
    display: block;
    /* background-color: #d18fe134; */
}
.user-welcome {
    text-decoration: none !important;
    color: #2900ff; 
    margin: 16px 0;
    transition: 0.3s ease;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.user-welcome:hover {
    background-color: none;
    color:#ffd0eb;
    display: block;
}
/* account access stuff for dropdown of profile pic */

.login-nav {
    display: none;
    list-style: none;
    background: linear-gradient(338deg, #ea8295 0%, #b092e7 100%);
    transition: 0.5s ease;
    margin-top: 5.8em;
    text-align: center; 
    border: solid #f5d5e0;
    flex-direction: column; 
    margin-left: -4.5em;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(47, 47, 47);
    z-index: 2;
    width:225px;
    border: none;
}

.login-nav.active {
    display: flex; 
    position:absolute;
}
/* carousel images */
.carousel-img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index:1;
    position:relative;
    backdrop-filter: blur(12px);
}
.carousel-item {
    overflow:hidden;
    width: 100%;
    height: 650px;
}
.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: space-between;
}
.profile-button {
    background: transparent;
    border: none; 
    padding: 1em 0em 0em 0em;
    align-items: flex-end;
    display: flex;
    position:relative;
}
.site-header {
    display:flex;
}
.site-name {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    margin-left: 0.5em;
    float:left;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
    margin-top: .3em;
}

.site-name:hover, focus{
    color: #ea6ecd;
}
/* hamburger menu  */
.hamburger {
    cursor:pointer;
    display:none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.card-container {
    margin-top: 30px;
    display:grid;
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: auto auto auto;
    row-gap: 3em;
    justify-content: center;
}

.card-item {
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #d6c5f2;
    margin: 1em 3em 1em 4em;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    grid-template-areas: "image" "tag" "name" "status";   
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 0;
    height: 500px;

    background:linear-gradient(160deg, #e94462 0%, #5900ff 100%);
}
.card-img-container {
    width: 500px;
    height: 300px;
    grid-area: image;

}
.card-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 4px black;
}
.toggleEdit {
    grid-area: image;
    position: absolute;
    z-index: 1; 
    width: 0%;
    margin-left: 95%;
    margin-top: -0.24em; 
}
.edit_button {
    height: 1%;
    background-color: transparent;
    border: transparent;
    display:none;
    color: white;
}
.edit_button:hover {
    color: #fd7070;
    transition: all 0.3s ease-out;
}
.card-item:hover .edit_button {
    display:block;
}
.tag {
    margin-top: .3em;
    display:flex;
    flex-wrap: wrap;
    grid-area: tag;
    row-gap: 0.4em;
    gap: 0.3em;
}
.tag-name {
    padding: 2px 8px;
    display: inline-block;
    border: 1px solid #fbc6d1;
    border-radius: 50px;
    font-size: 13px;
    color: #98cfff;
    font-family: 'Lexend Deca';
}
#name  {
    font-size: 19.5px;
    float:left;
    padding-top: 8px;
    padding-left: 3px;
    grid-area: name;
    color: aliceblue;
    font-family: 'Lexend Deca';
}
#status {
    grid-area: status;
    float: right;
    color: powderblue;
    font-family: 'Lexend Deca';

}

.ep-tracker {
    grid-area: status;
}
.ep-on {
    grid-area: status;
    font-weight:20;
    float: left;
    color: aliceblue;
    font-family: 'Lexend Deca';
}

#divider {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    color: aliceblue;
    font-family: 'Lexend Deca';
}
#ep-total {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    color:aliceblue;
    font-family: 'Lexend Deca';
}
#upcount {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 2px 0px 3px;
    display: none;
    background-color:transparent;
    border: none;
    color:aliceblue;
}
#upcount:hover {
    transform: scale(1.1);
}
/* https://www.youtube.com/watch?v=cwC1qdPWBKo */
.card-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgb(47, 47, 47); 
}
.card-item:hover #upcount {
    display:block;
}
.loggedout-navitem {
    display: block;
    margin-left: 3em;
    margin-top: 1.2em;
}
.logged-out {
    display:flex;
    padding-top: 1.3em;
    padding-left: 1em;
    justify-content: space-evenly;
    float: right;
}
.account-access {
    display: flex;
    float: right;
}
.login-form {
    border: solid;
    display: flex;
    padding: 3em 3em 4em 3em;
    margin-left:auto;
    margin-right: auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
    height: 550px;
}

.login-header {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
.login-input {
    margin-bottom: 1em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
#login-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}
#login-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}

.signup-form {
    border: solid;
    display: flex;
    padding: 3em 4em 2em 3em;
    margin-top: -4em;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
}

.signup-header {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

#signup-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}

.signup-input {
    margin-bottom: 1em;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    display:block;
    border-radius: 0.5em;
}
#signup-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}
#passwordHelpBlock {
    font-size: 11px;
    display:block;
    margin-top: -1.1em;
    font-family: 'Poppins', sans-serif;
}
.account {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display:block;
    text-align: center;
}
.alert{
    margin-top: -1.7em;
}
.btn-close{
    float:right;
}
.header-name {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    margin-left: 0.5em;
    float:left;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
    margin-top: .3em;
}
.header-name:hover, focus{
    color: #ea6ecd;
}
#mediaFormNew {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 950px;
    flex-direction: column;
}
.add-input {
    margin-bottom: 0em;
    width: 100%;
    padding: 0.75rem 0.75rem;
    display:block;
    border-radius: 5px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.add-form-text{
    margin-top: 1em;
}
#add_media_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    max-width: 16%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}
#edit_media_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    float:left;
    border:none;
    display: flex;
    justify-content: center;
}
#del_acc_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    float:left;
    border:none;
    display: flex;
    justify-content: center;
}
#mediaClose {
    float: right;
    margin-top: -1.5em;
    margin-right: -2em;
}
#mediaClose:focus, #mediaClose:active {
    outline: none !important;
    box-shadow: none;
 }
 .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
    border-color: pink !important;
 }
.addmediaHeader {
    font-family: 'Poppins', sans-serif;
    text-align: center !important;
    margin-bottom: -.3em;
}
.add_button {
    background-color: transparent;
    border-radius: 75%;
    box-shadow: 0em 0em 1.5em -1em;
    border:none;
}
.add-item {
    cursor: pointer;
    transform: scale(3.4);
    position: fixed;
    bottom: 0;
    margin-bottom: 2em;
    z-index: 1;
    right: 0;
}
.add-item-image {
    background-color: transparent;
    border:none;
    margin-left: -1.5em;
    margin-bottom: 0.2em
}
.add-item-image:hover {
    transform: scale(1.2); 
    transition: all .3s ease-out;
    
}
.add_plus {
    width: 100%;  
    color: #ff889d;
}

#accountForm {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    padding: 1em 4em 3em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 5px;
    max-width: 1100px;
}
.account-input {
    margin-bottom: 2em;
    width: 100%;
    display: block;
    border-radius: 0.5em;
}
/* account page => profile picture */
.change_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.change_profile_pic {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: block;
    margin-top: 1em;
    margin-left:-1em;
}
.no_media {
    text-align: center;
    margin-top: 3em;
}
#cancel_button {
    float:right;
    margin-top: 0em;
    margin-right: -6em;
}
#cancel_button:focus, #cancel_button:active {
    outline: none !important;
    box-shadow: none;
  
 }
.status_completed {
    color: #68ff00 !important;
}
.status_paused {
    color: #ff76fd !important;
}
.status_planning {
    color: #ffa832 !important;
}
.heart_buttons {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.heart {
    width: 5%;
    grid-area:name;
    background: transparent;
    border:none;
    height: 30%;
    color: #ff889d;
    display:none;
    transform: scale(1.2);
}
.heart:hover {
   transform: scale(1.3);
}
.heart_filled {
    width: 5%;
    grid-area:name;
    background: transparent;
    color: #ff889d;
    height: 30%;
    border: none;
    transform: scale(1.2);
}
.card-item:hover .heart {
    display:inline;
}

/* https://www.youtube.com/watch?v=F7iFnhSZe7o */
.heart_filled::before, .heart_filled::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}
.heart_filled.animate::before {
    top: -58%;
    left: 13%;
    background-image: radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, pink 20%, transparent 30%), 
    radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, lightcoral 20%, transparent 30%), 
    radial-gradient(circle, plum 20%, transparent 20%), 
    radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, red 20%, transparent 30%);
    background-size: 10% 2%, 10% 46%, 17% 7%, 14% 20%, 14% 5%, 9% 26%, 11% 5%, 14% 13%;
    background-position: 19% 108%, 19% 134%, 21% 113%, 24% 120%, 29% 96%, 37% 104%, 37% 108%;
    animation: top 0.7s ease-in-out forwards;
}
@keyframes top {
    50% {
        background-position: 5% 90%, 10% 90%, 15% 90%, 25% 90%, 30% 90%, 40% 90%, 50% 90%;
    }
    100% {
        background-position: 5% 80%, 10% 70%, 15% 70%, 25% 70%, 30% 70%, 40% 70%, 50% 70%;
        background-size:  0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;;
    }
}
.heart_filled.animate::after {
    bottom: -68%;
    left: 12%;
    background-image: radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, pink 20%, transparent 30%), 
    radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, lightcoral 20%, transparent 30%), 
    radial-gradient(circle, plum 20%, transparent 20%), 
    radial-gradient(circle, red 20%, transparent 20%), 
    radial-gradient(circle, transparent 20%, red 20%, transparent 30%);
    background-size: 10% 2%, 10% 46%, 17% 7%, 14% 20%, 14% 5%, 9% 26%, 11% 5%, 14% 13%;
    background-position: 16% -8%, 24% -4%, 28% -3%, 28% -5%, 29% -6%, 31% -4%, 32% -8%;
    animation: bottom 0.7s ease-in-out forwards;
}
@keyframes bottom {
    50% {
        background-position: 5% 4%, 10% 3%, 15% 3%, 25% 3%, 30% 3%, 40% 3%, 50% 3%;
    }
    100% {
        background-position: 5% 10%, 10% 10%, 15% 10%, 25% 10%, 30% 10%, 40% 10%, 50% 10%;
        background-size:  0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;;
    }
}
#delete_button {
    width: 12%;
    height: 11%;
    background:gray;
    border:none;
    float:right;
    margin-top: -.5em;
    margin-bottom:2em;
    border-radius:.5em;
}
#delete_button:focus, #delete_button:active {
    outline: none !important;
    box-shadow: none;
 }

 #delete_button:hover {
    background: red;   
}

.check_delete {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 3;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4em;
    scroll-margin: 10em;
    margin-top: 10%;
}

#confirm_check {
   margin-right: 5em;
   border:none;
   background: #e54330b5;
   color: white;
}
#cancel_check {
    background: #dedede;
    border:none;
    margin-top: -4em;
    margin-left: 8em;
    height: 10%;
    color: black;
}
#confirm_check:hover {
    background: red;
    color: white;
    
}
#cancel_check:hover {
    background: #95A5A6;
    
}
#confirm_check:focus, #confirm_check:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_check:focus, #cancel_check:active {
    outline: none !important;
    box-shadow: none;
 }

.check_acc_delete {
    border: solid !important;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff !important; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    display:flex;
    text-align: center;
}

#confirm_acc_delete {
   margin-right: 10em;
   border:none;
   background: #e54330b5;
   color: white;
}
#cancel_delete {
    border:none;
    margin-top: -4em;
    margin-left: 14em;
    height: 10%;
    background: #dedede;
    color: black;
}
#confirm_acc_delete:hover {
    background: red;
    color: white;
    
}
#cancel_delete:hover {
    background: #95A5A6;
    
}
#confirm_acc_delete:focus, #confirm_acc_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_delete:focus, #cancel_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #delete_acc_button {
    float:left;
    margin-top: 0em;
    border-radius: .5em;
 }

.addTagInput {
    width: 15%;
    font-size: 80%;
    border-radius: 50px;
    margin-top: .25em;
    border: 1px solid #fbc6d1;
    margin-right: 0.5em;
    text-align: center;
}
.card-item:hover .addTagInput {
    display:inline;
}
.page_numbers {
    margin-bottom: 1em;
    display:inline-flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    font-size: 20px;
}
#editTagButton {
    background-color: transparent;
    border:none;
    transform: scale(.8);
    color: black;
    float: right;
    display:none;
}

.card-item:hover #editTagButton {
    display:block;
}
#editTagButton:hover {
    transform: scale(.9);
}
#cancelTagButton {
    margin-top: 1em;
    height: 10%;
}
#cancelTagButton:focus, #cancelTagButton:active {
    outline: none !important;
    box-shadow: none;
 }
 #add_new_tag{
    background-color: transparent;
    border: none;
    display: none;
 }
 .card-item:hover #add_new_tag {
    display:inline;
}
#add_new_tag:hover{
    transform: scale(1.2);
}

.plus_tag_button {
    background-color: transparent;
    border:none;
    visibility: hidden;    
    cursor: pointer;
}

.card-item:hover .plus_tag_button {
    visibility: visible;
}
.plus_tag_button:hover {
    transform: scale(1.1);
}

.bottom_row {
    margin: .5em 1em 0em .5em; 
    display: block;
}
.cancel_tag_button {
    border:none;
    background: transparent;
    color:#E1241E;
    display:none;
}
.cancel_tag_button.active {
    display:block;
}
.card-item:hover .cancel_tag_button.active {
    display: block;   
}

.cancel_tag_button:hover {
    transform: scale(1.1);
}
.flip_card_more {
    border: none;
    float:left;
    background:transparent;
    color: white;
    position: absolute;
    z-index:3;
    /* margin-bottom: 0; */
}
.flip_card_less {
    border: none;
    margin-right:94%;
    background:transparent;
    grid-area: buttons;
    z-index:3;

    visibility:hidden;
}
.flip_card_less:hover, focus {
    color: #fd7070;
    transition: all 0.5s ease-out;
}
.card-item:hover .flip_card_less {
    visibility: visible;
    z-index:10;

}
.see_more {
    display:none; 
    grid-area:image;
}
.card-item.active {
    animation: flipB 0.5s;
    background: linear-gradient(21deg, #f28397 1%, #5900ff 100%);
    height: 500px;
}
.see_less {
    display:none;
    position:relative;
    grid-template-areas: "buttons" "title" "rating" "desc";
}
.description {
    font-size: 14px;
    display:none;
    grid-area: desc;
    font-family: 'Lexend Deca';   
}
.desc-title {
    font-weight: bold !important;
    font-family: 'Lexend Deca';   
}
.rating {
    display:none;
    grid-area: rating;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lexend Deca';
}
.mediaTitle {
    text-align: center;
    text-decoration: underline;
    grid-area: title;
    font-family: 'Lexend Deca';
    margin-top: .5em;

}
.editButtonB {
    width: 0%;
    z-index: 1;
    margin-left: 95%;
    margin-top: -0.4em;
    background-color: transparent;
    border:transparent;
    visibility:hidden;
    color:black;
    grid-area: buttons;
}
.editButtonB:hover {
    transform: scale(1.1);
    color: #fd7070;
    transition: all 0.3s ease-out;
}
 .card-item:hover .editButtonB {
    visibility:visible;
}
.flip_card_more {
    display: none;
}
.flip_card_more:hover, focus {
    color: #fd7070;
    transition: all 0.5s ease-out;
    z-index: 3;
}
.card-item:hover .flip_card_more {
    display: inline;
}
.card-item:hover .see_more {
    display: inline;
}

.card-item.unactive {
    animation: flipA  0.5s;
    height: 500px;
}

@keyframes flipB {
    0% {
        transform: rotateY(180deg)
   }
   100% {
       transform: rotateY(0deg)
   }
 
}
@keyframes flipA {
    0% {
         transform: rotateY(180deg)
    }
    100% {
        transform: rotateY(0deg)
    }
 
}
.pagenum_header {
    text-align: center;
}
.editTop {
    padding:2.5em 2em 3em 2em;
    border-radius: 6px;
}
.editBody {
    border-radius: 23px;
    background-color: #ffa1cf42;
    padding: 4em;
    width:100%;
}
.tagsForm {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

.editMediaClass {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3em 4em 2em 3em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}

#tagUl {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
#tagHelpBtn {
    background-color: transparent;
    margin-left: .3em;
    border: none;
    transform: scale(0.5);
}

.tagHeader {
    display:flex;
    position: relative;
    justify-content: center;
}
.tagHeader .tag_text {
    background-color: rgba(0, 0, 0, 0.723);
    color:white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    margin-top: -7.5em;
    margin-left: 5.1em;
    padding: 1em;
    visibility: hidden;
 }
.tagHeader:hover .tag_text {
    visibility: visible;
}
.tagHeader .tag_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#editButton{
    background-color: transparent;
    color:red;
    border:none;
    margin-left: 0.2em;
    margin-top: -3.2em;
    position: absolute;
}
#tag_input{
    width:15%;
    text-align: center;
    font-size: 80%;
}
.hand_wave {
    height: 25px;
    width: 25px;
}
.edit-img {
    object-fit: cover;
    width:100%;
    border: solid 2px;
    border-radius: 4px;
    
}
.editmediaimage {
    width: 1050px;
    /* max-height: 350px; */
    display: flex;
    margin-top: -1.1em;
}
#search_box_smaller {
    border-radius: 6px;
    height: 2em;
    width: 100%;
    background-color: #e6b9f4;
    margin-left: -1em;
}
#search_box_smaller:focus {
    outline: none;
}
.hamburger_navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.hamburger_navigation li {
    margin-top: 1em;
}
.hamburger_navigation {
    display: none;
    flex-direction: column;
    transition: 0.3s;
    background: linear-gradient(342deg,#5900ff 0%, #e94462 100%);
    border-radius: 1px;
    width: 100%;
    /* box-shadow: 2px 5px 7px 2px; */
    text-align: center;
    left: -100%;
}
.hamburger_navigation .nav-item {
    font-size: 20px;
    gap: 1em;
    justify-content: flex-start;
}
#mode {
    font-family: 'Lexend Deca', 'Bootstrap-icons';  
    display:flex;
}
#mode a {
    color: white;
}

#appearance_dropdown li a {
    font-size: 17px;
}

#appearance_dropdown {
    background:linear-gradient(9deg, #ff9cae 0%, #9257ff 100%);
    border-radius: 9px;
}
#light_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    color:white;
    gap: 1em;
    width: 100%;
    text-align: left;
    margin-left: 1.17em;
    margin-top: .3em;
}

#dark_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    width: 100%;
    gap: 1em;
    margin-left: 1.2em;
    margin-top: .3em;
    color: white;
}
#system_mode {
    display: flex;
    background-color: transparent;
    border:none; 
    width: 100%;
    margin-top: .3em;
    gap: 1em;
    margin-left: 1.2em;
    color: white;
}
#appearance_dropdown li:hover {
    background: #ff5a7878;
    border-radius: 3px;
}
#appearance_dropdown li button:hover a:hover{
    color:white;
}
#dropdown_theme {
    background: linear-gradient(15deg, #ea8295 0%, #b092e7 100%);
}
#dropdown_theme:focus, #dropdown_theme:active {
    outline: none !important;
    box-shadow: none;
 }
 #system_icon {
    font-size: 16px;
 }
 #theme_title {
    color: white !important;
 }
 #search_search {
    display:flex;
    flex-direction: column;
    max-width: 55%;
    font-family: 'Lexend Deca', 'Bootstrap-icons';  
    background-color: #c5a4ca;
    border-radius: 6px;
    box-shadow: 2px 3px 3px #9c27b0;
    margin: 0 auto;   
    z-index: 1;
    position: relative;
 }
#search_search_box {
    width: 75%;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: none;    
    font-family: 'Lexend Deca';  
    background-color: transparent;
}
#search_search_box:focus, #search_search_box:active{
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}
#search_search.active {
    outline: 1px solid rgb(255 180 180) !important;
}
#search_search_icon {
    background-color: #c5a4ca;
    border:none;
    margin-top: .3em;
}
#search_clear_btn {
    border: none;    
    background: transparent;
    margin-top: .23em;
    color: pink;
    z-index: 5;
}
#search_clear {
    background-color:transparent;
    visibility: hidden;
}
#descHelpBlock {
    display: flex;
    gap: 0.2em;
}
#mediaDescHelp {
    display: flex;
    gap: 0.2em;
}
#totalEpHelp {
    font-size: 13px;
}
#currentEpHelp {
    font-size: 13px !important;
}
#currentEpIcon {
    font-size: 13px;
}
.currentEpLabelDiv {
    display:flex;
    align-items: baseline;
    gap: 0.2em;
}
.currentEpDiv {
    position: relative;
}
.currentEpDiv #currentEpText {
    background-color: rgba(0, 0, 0, 0.723);
    color:white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    margin-top: -7.5em;
    margin-left: -6.5em;
    width: 14em;
    padding: 1em;
    display: none;
}
.currentEpDiv:hover #currentEpText {
    display: block;
}
.currentEpDiv #currentEpText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.totalEpLabelDiv {
    display:flex;
    align-items: baseline;
    gap: 0.2em;
}
.totalEpDiv {
    position: relative;
}
.totalEpDiv #totalEpText {
    background-color: rgba(0, 0, 0, 0.723);
    color:white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    margin-top: -7.5em;
    margin-left: -4.5em;
    padding: 1em;
    display: none;
    width: 10em;
}
.totalEpDiv:hover #totalEpText {
    display: block;
}
.totalEpDiv #totalEpText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#nav_search {
    flex-direction: column;
    /* display:none; */
    margin: 0 auto;   
    z-index: 1;
    position: relative;
}
 #input_search {
    background-color: #c5a4ca;  
    border-radius: 6px;
    box-shadow: 2px 3px 3px #9c27b0;
    padding: 0.4em;
    margin-top: 2em;
}
 #exampleModal {
    font-family: 'Lexend Deca', 'Bootstrap-icons', 'Material Icons';  
    margin-top: 4.8em;
 }
.modal-dialog {
    max-width: 65% !important;
}
.modal-content {
    background-color: transparent;
    border: none;
}
.modal_bg {
    background:linear-gradient(142deg, #c33a63 0%, #4c0f91 100%);
    height: 8em;
    margin-top: -2em;
    border-radius: 3px;
}
#search_box {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: none;    
    font-family: 'Lexend Deca';
    background-color: #c5a4ca;  
}
#search_box:focus, #search_box:active{
    border-radius: 6px;
    outline: none;
    box-shadow: none;
}
#nav_search.active {
    outline: 1px solid rgb(255 180 180) !important;
}
#nav_search_icon {
    background-color: #c5a4ca;
    font-family: "Bootstrap-icons";
    border:none;
    margin-top: .1em;
}
#nav_search_clear_btn {
    border: none;    
    background: transparent;
    margin-top: .25em;
    color: pink;
}
#nav_search_clear {
    background-color:transparent;
    visibility: hidden;
}
/* body.search_active > *:not(#nav_search) {
    filter:blur(9px);
} */
#search_button {
    background-color: transparent;
    border:none;
    transform: scale(1.1);
    float:right;
    font-size: 15px;
    font-family: "Bootstrap-icons";
    margin-top: 2.1em;
}
#nav_search_clear_back {
    background: none;
    border:none;
    font-size: 18px;
    margin-top: 0.1em;
}
.arrow_down {
    font-family: 'Material Icons';
    display: block;
    transition: 0.3s ease;
    font-size: 23px;
}
.arrow_down.active {
    transform: rotate(180deg);
    transition: 0.3s ease;
}
.arrows {
    margin-bottom:-0.5em;
}
.search_text {
    text-align: center;
}
.fav-container {
    margin-top: 30px;
    display:grid;
    margin-left: 9em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 7em;
    padding-right: 1em; 
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background-color: #d9baff99;
    border-radius: 15px;
}

.fav-item {
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #d6c5f2;
    margin: 1em 3em 1em 4em;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image" "name";   
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 0;
    background:linear-gradient(160deg, #e94462 0%, #5900ff 100%);
}
.fav-img-container {
    width: 300px;
    height: 200px;
    grid-area: image;
}
.fav-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 4px black;
}
.fav-item #name {
    font-size: 15px;
}
.fav-item .hearts {
    display: flex;
    grid-area:name;
    justify-content: center;
}
.input-group {
    padding: 0.3em;
}
.right_navigation {
    display: flex;
    gap: 2em;
}
.checkoff {
    color: lightgreen;
}
.list_stats {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background: pink;
}
.list_count ul {
    list-style: none;;
}
.data-tilt{
    transform-style: preserve-3d;
}
.addMediaFormHeader {
    border-radius: 12px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#exampleModalLabel {
    text-align: center;
}
.editMediaModal {
    background-color: #ddc3ff;
    border-radius: 12px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
#labelText {
    font-size: 15px;
    font-family: 'Lexend Deca';

}
.expand_more {
    font-family: 'Material Icons';
    outline: none;
    background: transparent;
    border:none;
    color: #98cfff;
    font-size:10px;
    font-weight: 600;
    display: contents;
}
.expand_edit{
    display:none;
    background: transparent;
    border:none;
    color: #98cfff;
}
.expand_delete {
    display:none;
    background: transparent;
    border:none;
    color: #98cfff;
}
.tag-name:hover .expand_more {
    display: contents;
}
.expand_more:hover {
    color: rgb(186, 186, 212);
}
.expand_more_left::before {
    content: "\e5cb";
    font-family: 'Material Icons'; 
}
.expand_edit:hover {
    color: pink;
}
.expand_delete:hover {
    color:red;
}

.reload_tags {
    display:flex;
    flex-wrap: wrap;
}
.input_tag_name {
    padding: 3px 8px;
    /* display: none ; */
    z-index:3;
    border: 1px solid #fbc6d1;
    border-radius: 50px;
    font-size: 13px;
    grid-area:tag;
    color: #98cfff;
    background:#00000029;
    font-family: 'Lexend Deca';
}
.input_tag_name::placeholder {
    color: #98cfff;
}

.addTagForm {
    cursor: pointer;
    grid-area: tag;
    margin-top: -0.1em;
}
.tagForm {
    display:none;
    grid-area: tag;
    justify-content: start;
    margin-top: 0.2em;
}
.divtag{
    display: grid;
    grid-area: tag;
}
.modal-content {
    font-family: 'Lexend Deca';
}
.page_dots {
    font-size: 17px;
    margin-top: 10px;
}
#langChart{
    height: 400px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
   
}
.langChartWrapper {
    background: #dfe2d4; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1250px;
    padding:50px;
}
.countChartWrapper {
    background: #dfe2d4; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1250px;
    padding:50px;
}
#countChart {
    margin-left:auto;
    margin-right:auto;
    height: 300px;
    width: 450px;
    
}
.mediaChartWrapper {
    background: #dfe2d4; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1250px;
    padding:50px;
}
#mediaChart {
    margin-left:auto;
    margin-right:auto;
    height: 300px;
    width: 550px;
}
.tagChartWrapper {
    background: #dfe2d4; 
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    width: 1250px;
    padding:50px;
    
}
#tagChart {
    margin-left:auto;
    margin-right:auto;
    height: 750px;
    width: 950px;
}
.alert_close:focus, .alert_close:active {
    outline: none !important;
    box-shadow: none;
 }