/* body {
    background-color: rgb(245 205 213);
    margin: -2em 0 0 0em;
    padding-bottom: 800px;
    
} */
/* navigation bar css */
.nav {
    height: auto;
    display:flex;
    font-family: 'Lexend Deca';
    justify-content: space-evenly;
    background: linear-gradient(15deg, #e94462 0%, #5900ff 100%);
    box-shadow: 0px 1px 1px 1px;
    padding-top: 2em;
    padding-bottom: .5em;
    margin-top: -2.5em;
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
}
.nav-ul {
    list-style: none;
    display: flex;
    margin-top: 2.1em;
    
} 
.nav-item {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    gap: 6em;
    text-decoration: none !important;
    transition: 0.7s ease;
    color: #00d4ff;
    font-size: 14px;
}
.nav a.active{
    background-color: transparent;
    color: rgb(170, 93, 226);
}
.nav a:before {
    display:flex;
    content: "";
}

.nav a:hover::before{
    width:100%;
}
.nav-item:hover {
    color:#ff00c7;
}

/* account access CSS for logout, login, etc. */
.account-item {
    text-decoration: none !important; 
    margin: 16px 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #2900ff;
}

.account-item:hover {
    color:#ff00c7;
    display: block;
    background-color: #d18fe134;
}
.user-welcome {
    text-decoration: none !important;
    color: #2900ff; 
    margin: 16px 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.user-welcome:hover {
    background-color: none;
    color:#ff00c7;
    display: block;
}
/* account access stuff for dropdown of profile pic */

.login-nav {
    display: none;
    list-style: none;
    background-color:  #f5d5e0; 
    transition: 0.5s ease;
    margin-top: 5.1em;
    text-align: center; 
    border: solid #f5d5e0;
    flex-direction: column; 
    margin-left: -4.5em;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(47, 47, 47);
    z-index: 2;
    width:150px;

}

.login-nav.active {
    display: flex; 
    position:absolute;
}

/* carousel images */
.carousel-img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index:1;
    position:relative;
}

.carousel-item {
    overflow:hidden;
    width: 100%;
    height: 750px;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    display:flex;
    justify-content: space-between;
}

.profile-button {
    background: transparent;
    border: none; 
    padding: 1em 0em 0em 0em;
    align-items: flex-end;
    display: flex;
    position:relative;

}
.site-header {
    display:flex;
}
.site-name {
    font-family: 'Monoton', cursive;
    font-size: 40px;
    margin-left: 0.5em;
    float:left;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
    margin-top: .2em;
}

.site-name:hover, focus{
    color: #ea6ecd;
}


/* hamburger menu  */
.hamburger {
    cursor:pointer;
    display:none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.card-container {
    max-width: 600px;
    margin-top: 30px;
    display:grid;
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: auto auto auto;
    max-height:300px;
    row-gap: 3em;
    justify-content: center;
    margin-bottom: 55em;
}

.card-item {
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #d6c5f2;
    margin: 1em 3em 1em 4em;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    grid-template-areas: "image" "tag" "name" "status";   
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 0;
    background:linear-gradient(160deg, #e94462 0%, #5900ff 100%);
}
.card-img-container {
    width: 500px;
    height: 300px;
    grid-area: image;
}
.card-image {
    width: 100%;
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 4px black;
}
.toggleEdit {
    grid-area: image;
    position: absolute;
    z-index: 1; 
    width: 0%;
    margin-left: 94%; 
}
.edit_button {
    height: 1%;
    background-color: transparent;
    border: transparent;
    display:none;
    color: white;
}
.edit_button:hover {
    transform: scale(1.1);
    color: #e54ed0;
    transition: all 0.3s ease-out;
}
.card-item:hover .edit_button {
    display:block;
}


.tag {
    margin-top: .3em;
    grid-area: tag;
}
.tag-name {
    padding: 1px 8px;
    display: inline-block;
    border: 1px solid #fbc6d1;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    color: #98cfff;
    font-family: 'Lexend Deca';
}

#name  {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    float:left;
    padding: 12px 1px 1px 8px;
    text-decoration: underline;
    grid-area: name;
    color: aliceblue;
    font-family: 'Lexend Deca';


}

#status {
    grid-area: status;
    float: right;
    color: powderblue;
    font-family: 'Lexend Deca';

}

.ep-tracker {
    grid-area: status;
}
.ep-on {
    grid-area: status;
    font-weight:20;
    float: left;
    color: aliceblue;
    font-family: 'Lexend Deca';
}

#divider {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    color: aliceblue;
    font-family: 'Lexend Deca';
}
#ep-total {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 0px 0px 3px;
    color:aliceblue;
    font-family: 'Lexend Deca';
}
#upcount {
    grid-area: status;
    font-weight:20;
    float: left;
    padding: 0px 2px 0px 3px;
    display: none;
    background-color:transparent;
    border: none;
    color:aliceblue;
}
#upcount:hover {
    transform: scale(1.1);
}
/* https://www.youtube.com/watch?v=cwC1qdPWBKo */
.card-item:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgb(47, 47, 47); 
}
.card-item:hover #upcount {
    display:block;
}

#user-welcome {
    font-family: "Poppins", sans-serif;
}
#acc-item-login {
    color: #00d4ff;
}
#acc-item-signup {
    color: #00d4ff;
    flex-wrap:wrap;
}
.logged-out {
    display:flex;
    padding: 1.3em 0em 0em 1em;
    justify-content: space-evenly;
    gap: 3em;
    float: right;
}

.account-access {
    display: flex;
    float: right;
}

.login-form {
    border: solid;
    display: flex;
    padding: 3em 3em 4em 3em;
    margin-left:auto;
    margin-right: auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
}

.login-header {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

#login-input {
    margin-bottom: 1em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
#login-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
    
}

#login-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}

.signup-form {
    border: solid;
    display: flex;
    padding: 3em 4em 2em 3em;
    margin-top: -4em;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 550px;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
}

.signup-header {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

#signup-text {
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0em;
}

#signup-input {
    margin-bottom: 1em;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    display:block;
    border-radius: 0.5em;
}
#signup-button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 25%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}
#passwordHelpBlock {
    font-size: 11px;
    display:block;
    margin-top: -1.1em;
    font-family: 'Poppins', sans-serif;
}
.account {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display:block;
    text-align: center;
}
.alert{
    margin-top: -2em;
}
.btn-close{
    float:right;
}
.header-name {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}
.header-name:hover, focus{
    color:#e54ed0;
}

#addmediaForm {
    border: solid;
    display: none;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    max-width: 800px;
}
#add-input {
    margin-bottom: 0em;
    margin-top:1em;
    width: 100%;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.5em;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
#add-form-text{
    margin-top: 1em;
}
#add_media_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border:none;
    display: block;
}
#edit_media_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    float:left;
    border:none;
    display: flex;
    justify-content: center;
}
#del_acc_button {
    padding: 0.375rem 0.75rem;
    margin-bottom:2em;
    width: 15%;
    background-color: #ff889d;
    border-radius: 0.5em;
    margin-top: 1em;
    float:left;
    border:none;
    display: flex;
    justify-content: center;
}
#mediaClose {
    float: right;
    margin-top: -1.5em;
    margin-right: -2em;
}
body.active > *:not(#addmediaForm) {
    filter:blur(4px);
    /* display:block; */
}
.addmediaHeader {
    font-family: 'Poppins', sans-serif;
    text-align: center !important;
    margin-bottom: -.3em;
}
.add_button {
    background-color: transparent;
    border-radius: 75%;
    box-shadow: 0em 0em 1.5em -1em;
    border:none;
}
.add-item {
    cursor: pointer;
    transform: scale(3.4);
    position: fixed;
    bottom: 0;
    margin-bottom: 2em;
    z-index: 1;
    right: 0;
}
.add-item-image {
    width: 100%;  
    background-color: transparent;
    border:none;
    color: #ff889d;
    margin-left: -1.5em;
    margin-bottom: 0.2em
}
.add-item-image:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}
#accountForm {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    padding: 1em 4em 3em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 5px;
    max-width: 1100px;
}
#account-input {
    margin-bottom: 2em;
    width: 100%;
    display: block;
    border-radius: 0.5em;
}
/* account page => profile picture */
.change_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.change_profile_pic {
    border-radius: 50%;
    width: 75px;
    display: block;
    margin-top: 1em;
    margin-left:-1em;

}

.no_media {
    text-align: center;
    margin-top: 3em;
}
/* #editmediaForm {
    outline-style: solid;
    display: table;
    padding: 3em 4em 2em 3em;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    float: left;
    margin-left: 2em;
} */
#cancel_button {
    float:right;
    margin-top: -1em;
}
.status_completed {
    color: #68ff00 !important;
}
.status_paused {
    color: #ff76fd !important;
}
.status_planning {
    color: #ffa832 !important;
}
.heart {
    width: 10%;
    grid-area:name;
    margin-top: 1.1em;
    margin-left: -0.5em;
    background: transparent;
    border:none;
    height: 30%;
    color: red;
    display:none;
}
.heart:hover {
   transform: scale(1.2);
}

.heart_filled {
    width: 10%;
    grid-area:name;
    margin-top: 1.1em;
    margin-left: -0.5em;
    background: transparent;
    height: 20%;
    color: red;
    border: none;
}

.card-item:hover .heart {
    display:inline;
}
.card-item:hover .heart_filled {
    margin-top: 1.1em;
    margin-left: -0.5em;
}

#delete_button {
    width: 12%;
    height: 11%;
    background:gray;
    border:none;
    float:right;
    margin-top: -.5em;
    margin-bottom:2em;
    border-radius:.5em;
}
#delete_button:focus, #delete_button:active {
    outline: none !important;
    box-shadow: none;
 }

 #delete_button:hover {
    background: #E85F5F;   
}

.check_delete {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 3;
    text-align: center;
    margin-top: 0%;
    display:none;
    margin-bottom: 4em;
    scroll-margin: 10em;
    margin-top: 10%;
}

#confirm_check {
   margin-right: 10em;
   border:none;
   background: #50BFF3 ;
}
#cancel_check {
    /* background:gray; */
    border:none;
    margin-top: -4em;
    margin-left: 10em;
    height: 10%
}
#confirm_check:hover {
    transform: scale(1.1);
    background: #80CDF1 ;
    
}
#cancel_check:hover {
    transform: scale(1.1);
    background: #95A5A6;
    
}
#confirm_check:focus, #confirm_check:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_check:focus, #cancel_check:active {
    outline: none !important;
    box-shadow: none;
 }

.check_acc_delete {
    border: solid;
    padding: 3em 4em 2em 3em;
    margin: 0 auto;
    background-color: #e3a6ff; 
    border-radius: 10px;
    inline-size: 800px;
    overflow-wrap: break-word;
    z-index: 3;
    text-align: center;
    margin-top: 10%;
    display:none;
    margin-bottom: 4em;
    scroll-margin: 10em;
}

#confirm_acc_delete {
   margin-right: 10em;
   border:none;
   background: #50BFF3 ;
}
#cancel_delete {
    border:none;
    margin-top: -4em;
    margin-left: 14em;
    height: 10%;
}
#confirm_acc_delete:hover {
    transform: scale(1.1);
    background: #80CDF1;
    
}
#cancel_delete:hover {
    transform: scale(1.1);
    background: #95A5A6;
    
}
#confirm_acc_delete:focus, #confirm_acc_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #cancel_delete:focus, #cancel_delete:active {
    outline: none !important;
    box-shadow: none;
 }
 #delete_acc_button {
    float:left;
    margin-top: 0em;
    border-radius: .5em;
 }

.addTagInput {
    width: 15%;
    grid-area:tag;
    font-size: 80%;
    border-radius: 50px;
    display:none;
    margin-top: .4em;
    float:left;
    border: 1px solid #fbc6d1;
    margin-right: 0.5em;
    text-align: center;
}
.card-item:hover .addTagInput {
    display:inline;
}
.page_numbers {
    margin-bottom: 1em;
    display:inline-flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    font-size: 20px;
}
#editTagButton {
    background-color: transparent;
    border:none;
    transform: scale(.8);
    color: black;
    float: right;
    display:none;
}

.card-item:hover #editTagButton {
    display:block;
}
#editTagButton:hover {
    transform: scale(.9);
}
/* #editTagsDiv {
    outline-style: solid;
    display: table;
    padding: 3em 2em 2em 2em;
    background-color: #eedff6; 
    border-radius: 10px;
    inline-size: 392px;
    margin-top: 0em;
    overflow-wrap: break-word;
    float: right;
    margin-right: 2em;
    
} */

#cancelTagButton {
    margin-top: 1em;
    height: 10%;
}
#cancelTagButton:focus, #cancelTagButton:active {
    outline: none !important;
    box-shadow: none;
 }
 #add_new_tag{
    background-color: transparent;
    border: none;
    display: none;
 }
 .card-item:hover #add_new_tag {
    display:inline;
}
#add_new_tag:hover{
    transform: scale(1.2);
}
.editTagForm {
    text-align:center;
    margin-bottom: 1em;
}




.plus_tag_button {
    background-color: transparent;
    border:none;
    display: none;    
    cursor: pointer;
}

.divtag{
    display: initial;
    grid-area: tag;
}
.card-item:hover .plus_tag_button {
    display: initial;
}
.plus_tag_button:hover {
    transform: scale(1.2);
}
.addTagForm {
    display: none;
    cursor: pointer;
    grid-area: tag;
}

.bottom_row {
    margin: 1em 1em 0em 1em; 
    display: block;
    grid-area:status;
}
.cancel_tag_button {
    border:none;
    background: transparent;
    color:#E1241E;
    display:none;

}
.cancel_tag_button.active {
    display:none;
}
.card-item:hover .cancel_tag_button.active {
    display: initial;
}
.cancel_tag_button:hover {
    transform: scale(1.2);
}
.flip_card_more {
    border: none;
    float:left;
    background:transparent;
    color: white;
    /* margin-bottom: 0; */
}
.flip_card_less {
    border: none;
    margin-right:94%;
    background:transparent;
    grid-area: buttons;
    transition: 0.7s ease;      
    display:none;
}
.flip_card_less:hover, focus {
    color: #ff7ded;
    transition: all 0.5s ease-out;
}
.card-item:hover .flip_card_less {
    display: inline;
}

.see_more {
    display:none; 
    grid-area:image;
}

.card-item.active {
    animation: flipB 0.5s;
    background:linear-gradient(160deg, #e94462 0%, #5900ff 100%);
}


.see_less {
    display:none;
    position:relative;
    grid-template-areas: "buttons" "title" "rating" "desc";
}

.description {
    font-size: 14px;
    display:none;
    grid-area: desc;
    font-family: 'Lexend Deca';
    
}
.rating {
    display:none;
    grid-area: rating;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-family: 'Lexend Deca';
}
.mediaTitle {
    text-align: center;
    text-decoration: underline;
    grid-area: title;
    font-family: 'Lexend Deca';
    margin-top: .5em;

}
.editButtonB {
    width: 0%;
    z-index: 1;
    margin-left: 94%;
    background-color: transparent;
    border:transparent;
    display:none;
    color:black;
    grid-area: buttons;
}
.editButtonB:hover {
    transform: scale(1.1);
    color: #ff7ded;
    transition: all 0.3s ease-out;
}
 .card-item:hover .editButtonB {
    display:block;
}
.flip_card_more {
    display: none;
}
.flip_card_more:hover, focus {
    color: #ff00dd;
    transition: all 0.5s ease-out;
}
.card-item:hover .flip_card_more {
    display: inline;
}
.card-item:hover .see_more {
    display: inline;
}

.card-item.unactive {
    animation: flipA  0.5s;
}

@keyframes flipB {
    0% {
        transform: rotateY(180deg)
   }
   100% {
       transform: rotateY(0deg)
   }
 
}
@keyframes flipA {
    0% {
         transform: rotateY(180deg)
    }
    100% {
        transform: rotateY(0deg)
    }
 
}
.pagenum_header {
    text-align: center;
}

.search { 
    margin-top: 1.9em;
}

#search_button {
    background-color: transparent;
    border:none;
    transform: scale(1.1);
    margin-left: 14.5em;
    float:right;
    
}
#search_button.active {
    margin-top: -1.8em;
}
#search_box {
    border-radius: 6px;
    padding-left: 1em;
    text-align: center;
    margin-left: 1em;
    /* margin-right: auto; */
    display:none;
    height: 1.8em;
    width: 12em;
    /* box-shadow:  3px 5px 4px black; */
    background-color: #e6b9f4;
   
}
#search_box:focus {
    outline: none;
}
.search_text {
    text-align: center;
    margin-top: 2em;
}
.right-nav {
    display:flex;
    flex-wrap: wrap;
    gap: 2.5em;
    /* margin-top: 1em; */
}
#editMedia {
    border: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3em 4em 2em 3em;
    background-color: #e3a6ff; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

#tagUl {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
#tagHelpBtn {
    background-color: transparent;
    margin-left: .3em;
    border: none;
    transform: scale(0.5);
}
.tagHeader {
   display:flex;
   position: relative;
    justify-content: center;
}
.tagHeader .tag_text {
    background-color: rgba(0, 0, 0, 0.723);
    color:white;
   font-size: 12px;
   border-radius: 5px;
   position: absolute;
    text-align: center;
    margin-top: -7.5em;
    margin-left: 5.1em;
    padding: 1em;
    visibility: hidden;
 }
.tagHeader:hover .tag_text {
    visibility: visible;
}
.tagHeader .tag_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#editButton{
    background-color: transparent;
    color:red;
    border:none;
    margin-left: 0.2em;
    margin-top: -3.2em;
    position: absolute;
}
#tag_input{
    width: 80%;
    text-align: center;
    
}
.hand_wave {
    height: 25px;
    width: 25px;
}
.edit-img {
    object-fit: cover;
    width:100%;
    border: solid 2px;
    border-radius: 12px;;
    
}
.editmediaimage {
    max-width: 600px;
    max-height: 350px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
   
}
#search_box_smaller {
    border-radius: 6px;
    height: 2em;
    width: 100%;
    background-color: #d6a0e7;
    margin-left: -1em;
}
#search_box_smaller:focus {
    outline: none;
}
.hamburger_navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.hamburger_navigation li {
    margin-top: 1em;
}
.hamburger_navigation {
    display: none;
    flex-direction: column;
    transition: 0.3s;
    background: linear-gradient(347deg,#5900ff 0%, #e94462 100%);
    border-radius: 1px;
    width: 100%;
    /* box-shadow: 2px 5px 7px 2px; */
    text-align: center;
    left: -100%;
}
.hamburger_navigation .nav-item {
    font-size: 20px;
    gap: 1em;
    justify-content: flex-start;
}
#mode {
    display:flex;
    justify-content: center;
}